# Instructions: fill in the values then rename this to .env
#
# if you use foreman to run your development server, these env variables will be picked up automatically.
# otherwise, configure your dev env with the values for these ENV variables.

# get this from the team or generate one yourself for your dev env using "rake secret"
RAILS_SECRET_TOKEN=<secret_token>

# database connection credentials
DATABASE_USERNAME=beyondz-platform
DATABASE_PASSWORD=

# These are used by the login system.
# You can generate them using almost any method, one idea on
# linux would be something like
# head -n 1 /dev/random | sha1sum

# secret key is used to protect session information.
# Changing this would invalidate all logins.
DEVISE_SECRET_KEY=<long random hex string>

# pepper is used to encrypt passwords in the database.
# Changing this would make the database unusable;
# it ought to stay the same.
DEVISE_PEPPER=<long random hex string># the credentials to connect to the outgoing SMTP server for sending emails

# needed to send outgoing mail
SMTP_SERVER=smtp.gmail.com
SMTP_USERNAME=no-reply@beyondz.org
SMTP_PASSWORD=<password>

# This controls what links in emails sent point to.
MAILER_HOST=beyondz.org

# This controls the email address the admin / staff notifications are sent to.  E.g. new user signups
STAFF_NOTIFICATION_EMAIL=tech@beyondz.org

#
# in dev or staging, don't let emails go to actual users.  instead, send them here
SMTP_OVERRIDE_RECIPIENT=<yourEmail>

# for the Amazon Web Services (AWS) S3 file storage service, this is the information used to connect
AWS_BUCKET=beyondz-dev-assets
AWS_ACCESS_KEY_ID=<key>
AWS_SECRET_ACCESS_KEY=<secret>

# the credentials to connect to the Google Drive API
GOOGLE_DRIVE_EMAIL=<email>
GOOGLE_DRIVE_PASSWORD=<password>

# This is the UA-#####-# extracted from the Google analytics code
# if absent, GA will not be loaded.
GOOGLE_ANALYTICS_ACCOUNT=UA-48011005-1

# Information for Canvas integration
CANVAS_ACCESS_TOKEN=<token created in canvas admin for app integration>
CANVAS_SERVER=<domain of canvas server>
CANVAS_PORT=<port of canvas server>
CANVAS_USE_SSL=<true or false>
CANVAS_ALLOW_SELF_SIGNED_SSL=<true or false>

# This is the URL to the SSO server's root.
SSO_URL=https://stagingsso.beyondz.org/

# This is the link to our blog. If it is present, the link will appear.
# If not, there will be no link. This lets us turn off the link when the
# blog isn't ready.
BLOG_URL=http://stagingblog.beyondz.org/

# SFDC: Setup -> Build on left hand side -> Create -> Apps
# these are used by the databasedotcom gem
DATABASEDOTCOM_CLIENT_ID=<from salesforce>
DATABASEDOTCOM_CLIENT_SECRET=<from salesforce>


# Click Your Name -> Settings (upper right)
# Personal -> Reset My Security Token (same menu as change password)
# it emails you the token
SALESFORCE_USERNAME=<email address to log into salesforce>
SALESFORCE_PASSWORD=<password log into salesforce>
SALESFORCE_SECURITY_TOKEN=<token gotten from salesforce email>
# This is the salesforce api host. Use test.salesforce.com for sandbox,
# login.salesforce.com for production, or a custom domain if you have one
# with Salesforce
SALESFORCE_HOST=test.salesforce.com
