# fill in the values then rename this to .env
SMTP_USERNAME=no-reply@beyondz.org
SMTP_PASSWORD=<password>
SMTP_SERVER=smtp.gmail.com
GOOGLE_DRIVE_EMAIL=<email>
GOOGLE_DRIVE_PASSWORD=<password>
AWS_BUCKET=TODO
AWS_ACCESS_KEY_ID=TODO
AWS_SECRET_ACCESS_KEY=TODO
