# Instructions: fill in the values then rename this to .env
#
# if you use foreman to run your development server, these env variables will be picked up automatically.
# otherwise, configure your dev env with the values for these ENV variables.

# get this from the team or generate one yourself for your dev env using "rake secret"
RAILS_SECRET_TOKEN=<secret_token>

# database connection credentials
DATABASE_USERNAME=beyondz-platform
DATABASE_PASSWORD=

# These are used by the login system.
# You can generate them using almost any method, one idea on
# linux would be something like
# head -n 1 /dev/random | sha1sum

# secret key is used to protect session information.
# Changing this would invalidate all logins.
DEVISE_SECRET_KEY=<long random hex string>

# pepper is used to encrypt passwords in the database.
# Changing this would make the database unusable;
# it ought to stay the same.
DEVISE_PEPPER=<long random hex string># the credentials to connect to the outgoing SMTP server for sending emails

# needed to send outgoing mail
SMTP_SERVER=smtp.gmail.com
SMTP_USERNAME=no-reply@beyondz.org
SMTP_PASSWORD=<password>

# This controls what links in emails sent point to.
MAILER_HOST=beyondz.org

#
# in dev or staging, don't let emails go to actual users.  instead, send them here
SMTP_OVERRIDE_RECIPIENT=<yourEmail>

# for the Amazon Web Services (AWS) S3 file storage service, this is the information used to connect
AWS_BUCKET=beyondz-dev-assets
AWS_ACCESS_KEY_ID=<key>
AWS_SECRET_ACCESS_KEY=<secret>

# the credentials to connect to the Google Drive API
GOOGLE_DRIVE_EMAIL=<email>
GOOGLE_DRIVE_PASSWORD=<password>

# This is the UA-#####-# extracted from the Google analytics code
# if absent, GA will not be loaded.
GOOGLE_ANALYTICS_ACCOUNT=UA-48011005-1
