<div class="assignment-summary">
  <section>
    <h2><%= assignment.assignment_definition.title %></h2>

  </section>
  <%
    wrapper_class = ''
    if assignment.submittable?
      wrapper_class = 'assignment-submittable'
    elsif assignment.in_progress?
      wrapper_class = 'assignment-in-progress'
    elsif assignment.complete?
      wrapper_class = 'assignment-complete'
    end
  %>
</div>
