<div class="assign-details-container">
  <h2>
    Week 5: Failing & Asking for Help <span class="session-type">(Coach Led)</span>
  </h2>

 <section>
    <div class="assign-date">
      <p>Mar 31 - Apr 6</p>
    </div>
  </section>

  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">CONTEXT</span>
Often times, most employers ask during internship and job interviews these typical questions: “What’s your greatest challenge? How did you overcome it?” or “Tell me about a time when you’ve failed at something. What did you do and what did you learn?” Companies are interested in people who not only face adversity, but how they resolved their failures, worked through their bad times, and addressed their struggles head-on and what they ultimately learned. It’s important to understand your relationship to failing and how you address it.
          </p>
        </div>
      </section>
      <section>
        <div class="assign-details-body">
          <p><span class="assign-text-lead">SUMMARY</span>
This week you are going to reflect on your own challenges and how you overcame those. You’ll also learn about different types of mindsets about challenge, how those mindsets can positively impact you and your work, and how talking about those challenges and mindsets in interviews can benefit you.  
          </p>
          <p>
For many students, college is a rewarding yet very challenging time. It can be an orientation to disorientation, full of many developmental challenges that you are trying to figure out, all while feeling alone and being away from your family (perhaps for the first time) geographically, psychologically. You are trying to define your new identity in different and sometimes competitive contexts on campus. You are adjusting to the freedom you have in discovering your own sense of purpose and passion as a learner, while also dealing with the uncertainty of not knowing your place on campus just yet and what you want to be doing with your life. Sometimes, you might feel alone, without any support or a good circle of friends to lean on that you had back in high school or in your family.
          </p>
          <p>
School work can be intense as you juggle priorities and try to keep up with every page of every book, article, and assignment all while trying to fit in and find a solid study group. Each of these life events holds great potential for growth and development, while also representing the fear that you might fail. This week we’re going to unpack failure and the fear of facing the challenges. 
          </p>
          <blockquote>
            <p>Only those who dare to fail greatly can ever achieve greatly.</p>
            <footer>Robert F. Kennedy</footer>
          </blockquote>
          <blockquote>
            <p>Failure is so important. We speak about success all the time. It is the ability to resist failure or use failure that often leads to greater success. I’ve met people who don’t want to try for fear of failing.</p>
            <footer>J.K. Rowling</footer>
          </blockquote>
        </div>
      </section>
       <section>
        <div class="assign-details-articles">
          <h3>PRE-READING - 30 min</h3>
          <p>&nbsp;Growth Mindset:</p>
          <ol>
            <li><p><a href="http://alumni.stanford.edu/content/magazine/artfiles/dweck_2007_2.pdf">Infographic</a> (Please print this out and tape this near your desk)</p></li>
            <li><p><a href="http://www.youtube.com/watch?v=o8JycfeoVzg">Video on Fixed vs Growth Mindset</a> (1:15 min)</p></li>
          </ol>
          <p>&nbsp;Failing and Asking for Help</p>
          <ol>
            <li><p><a href="http://www.latimes.com/news/local/la-me-c1-cal-freshmen-20130816-dto,0,4673807.htmlstory#axzz2sNnOKSYn>South L.A. Student Finds a Different World at Cal</a> (3 pages)</p></li>
            <li><p><a href="http://www.nytimes.com/2007/07/07/business/07shortcuts.html?pagewanted=all&_r=0">Why is Asking for Help So Difficult?</a> (1 page)</p></li>
            <li><p><a href="http://holdenlee.wordpress.com/2013/09/03/some-college-advice-39-things/">Holden Lee’s Blog: “Some College Advice”</a> (You will be blogging later this week, so take a look!)</p></li>
          </ol>
          <p>&nbsp:Perspectives on Failure: Stories from Students and Leaders</p>
          <ol>
            <li><p><a href="http://www.youtube.com/watch?v=45mMioJ5szc">Video of Michael Jordan on Failure</a> (30 sec)</p></li>
            <li><p><a href="http://awesomeish.com/2013/01/5-motivational-lessons-from-michael-jordan-89">Article: Michael Jordan on Failure</a>
            <li><p><a href="http://www.washingtonian.com/articles/people/what-made-me-dc-schools-chancellor-kaya-henderson/">DC Public Schools Chancellor Kaya Henderson: What Made Me</a> (half page, 30 sec)</p></li>
            <li><p><a href="http://news.stanford.edu/news/2005/june15/jobs-061505.html">Steve Jobs’ Graduation Speech, Stanford University, 2005</a> (3 pages, 4:30 min)</p></li>
          </ol>
          <p>&nbsp;Optional - Watch/Read if Time:</p>
          <ol>
            <li><p><a href="http://www.nytimes.com/video/us/100000001966173/the-diploma-divide.html">The Diploma Divide</a> (6:30 min)</p></li>
            <li><p><a href="http://www.npr.org/templates/story/story.php?storyId=7406521">Students’ View of Intelligence Can Help Grades</a> (4 min)</p></li>
            <li><p><a href="http://learnwithmhls.files.wordpress.com/2012/02/superlearners.pdf">Secrets of Super Leaners by Craig Lambert</a> (4 pages)</p></li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due Friday, April 11 by 9 PM.</h3>
          <ul>
            <li><p><strong>Assignment:</strong> Complete the EAL. You will also set up a WordPress Account and blog about professional advice or strategies you use to manage challenges and overcome difficulties to pursue your dreams. Before doing this, you must read this week's <a href="https://www.dropbox.com/s/rud1vge5o3enpo8/L%20%20Week%205_Failing%20and%20Learning.docx?dl=1">Career Portfolio Module</a>.</p></li>
            <li><p><strong>Directions:</strong> 1) Set up a Word Press account. 2) Post blog. 3) Fill the EAL out, save it to your Google Drive and share with your coach.</p></li>
            <li><p><strong>Deadline:</strong> Upload your <a href="https://www.dropbox.com/s/4mjwhueiaje18wy/L%20%20Week%205_Failing%20and%20Learning%20-%20EAL.docx">Evidence of Applied Learning (EAL)</a> by Friday, April 4 at 9 PM.</p></li>
          </ul>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/rud1vge5o3enpo8/L%20%20Week%205_Failing%20and%20Learning.docx?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/4mjwhueiaje18wy/L%20%20Week%205_Failing%20and%20Learning%20-%20EAL.docx?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="asking-for-help/submissions/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
