<div class="assign-details-container">
  <h2>
    Week 4: Spring Break! <span class="session-type">(Peer Led)</span>
  </h2>

 <section>
    <div class="assign-date">
      <p>Mar 24 - 30</p>
    </div>
  </section>

  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">SUMMARY</span>
          So far, this semester you’ve spent a fair amount of time reflecting on your strengths and passions and building your tool kit to help prepare you for your job search. Self-reflection, while incredibly valuable, can only get you so far. Sometimes other people notice things in us that we don’t see ourselves. Many executives, managers and leaders in organizations often engage in a type of feedback known as 360 feedback, where they ask people all around them  - their peers, their direct reports, their families to share their insights about their leadership competencies. Managers and leaders within organizations use 360 feedback surveys to get a better understanding of their strengths and weaknesses to accelerate their development.
          </p> 
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due Friday, March 21 by 9 PM.</h3>
          <ul>
            <li><strong>Assignment:</strong> Email your coach 3 contacts of people who can share out stories/examples when you were at your best in anything (not just school work).</li>
            <li><strong>Directions:</strong>  Get an early start – due this before you head out for Spring Break!</li>
            <li><strong>Deadline:</strong> Upload your <a href="https://www.dropbox.com/s/ucddx42at97b9iv/K%20%20Week%204_Spring%20Break%20-%20Best%20Self%20Exercise%20Request_EAL.docx?dl=1">Evidence of Applied Learning (EAL)</a> by Friday, March 21 at 9 PM.</li> 
          </ul>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/9jb9zvt1lpdcovv/K%20%20Week%204_Spring%20Break%20-%20Best%20Self%20Exercise%20Request.docx?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/ucddx42at97b9iv/K%20%20Week%204_Spring%20Break%20-%20Best%20Self%20Exercise%20Request_EAL.docx?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="best-self/submit/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
 
