<div class="assign-details-container">
  <h2>
    Week 8: Brainstorming Great Ideas to Address the Challenge <span class="session-type">(Peer Led)</span>
  </h2>

 <section>
    <div class="assign-date">
      <p>Apr 21 - 27</p>
    </div>
  </section>

  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">OBJECTIVE</span>
          Test out your ideas by brainstorming with others in your network, asking your target audience for feedback, and researching data online. <strong>Goal: Refine your top 3 ideas and start working on your presentation. Come back to the cohort meeting in week 9 to continue finalizing your presentation and rehearse.</strong>
          </p>
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>TEAM REQUIREMENTS<br/> - Due by Wednesday, April 23.</h3>
          <ol>
            <li><p>Teams to schedule to meet-up 1-2 times for up to 3 hours to collaborate on their project. This can be over Skype, Google Hangout, HipChat, or in-person meetings over dinner or a meal on campus. Coordinate schedules with <a href="http://www.doodle.com">www.doodle.com</a> or <a href="http://www.when2meet.com/">www.when2meet.com</a></p></li>
            <li><p><strong>Required:</strong> Your team must interview at least 1 support organization on campus to get ideas for your challenge topic.</p></li>
            <li><p><strong>Required:</strong> Teams to submit draft summary of their top 2-3 ideas to their Coach by Wednesday, April 23 for feedback, so they can refine their presentation.</p></li>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/wlanfcfdcbovtc9/P%20Week%208_BZ%20Academy%20Capstone%20Design%26Field%20Research.docx?dl=1">Download Complete Module</a>
          </section>
          <!--
          <section>
            <a class="btn-assign-details" href="#?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="insertAssignment/submissions/new">Upload Assignment</a>
            </section>
            -->
        </div>
      </section>
    </div>
  </section>
