    <script type="text/javascript">
    <!--
        $(function () {
            $('#calendar').fullCalendar({
        
            });
        });
    // -->
    </script>


<div id='calendar'></div>

