<div class="assign-details-container">
  <h2>
    Week 7: Capstone - Framing, Organizing and Planning Field Research <span class="session-type">(Coach Led)</span>
  </h2>

 <section>
    <div class="assign-date">
      <p>Apr 14 - 20</p>
    </div>
  </section>

  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">CONTEXT</span>
          On January 16, 2014, President Obama and the First Lady announced that they are joining with leaders in higher education to announce over 100 new commitments to expand college opportunity in creative and powerful ways. The President is committed to partnering with colleges and universities, business leaders, nonprofits and others to help more students afford and graduate from college with the skills they need.
          The White House and the U.S. Department of Education are focusing on the following 4 key areas where universities and colleges across the country could be doing more to promote college opportunity:
          </p>
          <ol>
            <li>Connecting more low-income students to colleges where they can succeed and encouraging completion once they arrive on campus.</li>
            <li>Strengthening remediation to help academically underprepared students’ progress through and complete college. </li>
            <li>Increasing the pool of students preparing for college through early interventions.</li>
            <li>Leveling the playing field in college advising and SAT/ACT test preparation.</li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">YOUR CHALLENGE</span>
          Working in teams within your BZ Cohort, how will you address any of these challenges/problems above that are facing our country’s college opportunity challenge? What new ideas, solutions can you come up with to solve these issues on your own college campus?
          </p>
        </div>
      </section>
      <section>
        <div class="assign-details-body">
          <p>
            <strong>Reminder:</strong> Your Proposal should not address all 4 challenge topics. Given the scope of this project, only pick 1 topic that most interests your team and design solutions that help address that challenge...
          </p>
          <p>
            <strong>Build on Existing Ideas and Come up with New Insights!</strong> For ideas of what’s being proposed already across other colleges, check out what some universities and colleges have already committed to begin addressing these challenges - including some of your own campuses <a href="http://www.whitehouse.gov/sites/default/files/docs/college_opportunity_commitments_1-16-2014_final.pdf">here</a>.
          </p>
          <p>
            We also want you to conduct field research that will help you better understand what’s out there and what can be done better to address the challenge or what’s missing as a solution right now.
          </p>
          <p>
            <strong>Teams: Everyone in your cohort must participate.</strong> Your team may consist of your whole cohort; or you may decide to separate into smaller subgroup teams of at least 3 people each.
          </p>
        </div>
      </section>
       <section>
        <div class="assign-details-articles">
          <h3>PRE-READING</h3>
          <p>&nbsp;Personal Narrative</p>
          <ol>
            <li><p><a href="http://nyti.ms/1kxSrJI">Read New York Times: For Poor, Leap to College Often Ends In Hard Fall</a> (10 min)</p></li>
            <li><p><a href="http://n.pr/1dFQw60">NPR Clip on Elite Colleges Struggle To Recruit Smart, Low-Income Kids</a> (4 min 38 sec)</p></li>
            <li><p><a href="http://n.pr/1g4rtW3">Hispanics Struggle to Graduate: An Issue of School Choice?</a> (10 min)</p></li>
            <li><p><a href="http://bit.ly/OvI4v7">Georgetown University report</a> (15 min)</p></li>
          </ol>
          <p>&nbsp;White House Documents</p>
          <ol>
            <li><p><a href="http://1.usa.gov/1mUUCZl">Read: Fact Sheet - The President and First Lady’s Call to Action on College Opportunity</a> (10 min scan)</p></li>
            <li><p><a href="http://1.usa.gov/1lG5HgP">Check out 100 University Commitments to the President’s Call for ideas</a> (10 min)</p></li>
            <li><p><a href="http://1.usa.gov/1mUsEjc">Read: Promising Models and a Call to Action. Check out Statistics and Data – on College Opportunity Report</a> (10 min)</p></li>
          </ol>
          <p>&nbsp;Optional:</p>
          <ol>
            <li><p><a href="http://bit.ly/1mVfwav">Why the White House Summit Matters</a> (5 min)</p></li>
            <li><p><a href="http://bit.ly/1naLW0W">How Higher Ed Contributes To Inequality</a> (5 min)</p></li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>NEXT STEPS</h3>
          <ul>
            <li><p>Each team must identify and select 1 project manager or 2 co-project managers to lead the team and set up the next meeting.</p></li>
            <li><p>Each team must identify at least 1-3 presenters for the presentation. Teams should nominate folks who are going to present during Week 10.</p></li>
            <li><p>Before the end of the cohort meeting, each team should set up a coordination meeting.  Each team needs to complete this <a href="https://docs.google.com/a/beyondz.org/forms/d/1HjMmcYLQtPbUGPQ4_B8MHU-EIm7dT-DGCBkiowdBQN4/viewform">Team Commitment form</a> before they leave the session. Only 1 form per team needed.</p></li>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/8jjb0silo8yfpz3/O%20Week%207_BZ%20Academy%20Capstone%20Launch.docx?dl=1">Download Complete Module</a>
          </section>
          <!--<section>
            <a class="btn-assign-details" href="#?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="insertAssignment/submissions/new">Upload Assignment</a>
          </section>-->
        </div>
      </section>
    </div>
  </section>
