<div class="container-fluid">
<% if @incomplete_assignments %>
  <a href="/assignments">View Upcoming Assignments</a>
<% end %>

<% @complete_assignments.each do |assignment| %>
  <%= render :partial => assignment %>
<% end %>

</div>
