<div class="container-fluid">
	<% if @incomplete_assignments %>
		<%= link_to 'View Upcoming Assignments', assignments_path %>
	<% end %>

	<% @complete_assignments.each do |assignment| %>
	  <%= render :partial => assignment %>
	<% end %>

</div>
