<div class="assign-details-container">
  <h2>
    Week 2: Career Portfolio Cover Letter and Resume
  </h2>
  <div class="row-fluid">
    <div class="col-sm-12">
      <h3><span class="bzred">Coming Soon!</span></h3>
    </div>
  </div>
  <!-- BTODO: make this look like the assignment template
  <div class="row-fluid">
    <h3>Cover Letters</h3>
      <ul>
        <li>
        Start by Reading this pointed article from Slate: <a href="http://www.slate.com/articles/business/moneybox/2013/08/cover_letter_writing_advice_how_to_write_a_cover_letter_for_an_entry_level.html">I’ve Read 500 Cover Letters for Entry Level Media Jobs</a>
          <p>Although she’s talking about media jobs, pay attention to all the tips! And what not do to!</p> 
        </li>
        <li>
          Creative Cover Letters – 
          <a href="http://www.fastcompany.com/3016727/leadership-now/dont-be-boring-how-to-write-a-cover-letter-that-can-get-you-the-job">Don’t Be Boring: How to Write a Cover Letter That Can Get You the Job</a>
        </li>
      </ul>
    <p>
      We recommend that you spend at least 1 hour and 30 min crafting a cover letter. If you’re applying for several different opportunities in the same sector, you may want to use many of the same elements in each cover letter, but be sure to take time to tailor each cover letter to the specific position for which you are applying. 
    </p>
  </div>
  -->
</div>

