<div class="assign-details-container">
  <h2>
    Week 2(b): Resume <span class="session-type">(Peer Led)</span>
  </h2>

 <section>
    <div class="assign-date">
      <p>Mar 10 - 16</p>
    </div>
  </section>

  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">SUMMARY</span>
            Like peanut butter and jelly, your cover letter and resume go hand in hand as fundamental elements of your professional portfolio. Let’s start with cover letters. They can give you a serious advantage by allowing you to stand out from the crowd and introduce yourself in a personable way, convey who you are and start branding yourself in memorable ways among the pool of other competitors vying for limited internship and job opportunities. Think of the cover letter as a vehicle in which your passions, qualifications, and personality come through!
          </p>
        </div>
      </section>
      <section>
        <div class="assign-details-body">
          <p><span class="assign-text-lead">CONTEXT</span>
          During the BZ Academy Weekend 0, you practiced crafting and delivering your leadership story. Leadership begins with understanding yourself: your values, your motivation, your story.  But leadership is also about enabling others to achieve purpose and enabling others to join with you in your development. Therefore, it’s important that you be able to share your story, which brings together your strengths, personal assets and your unique background. At Weekend 0, you got practice sharing your story as a personal narrative. Now, you will get practice telling your story in a professional context by way of a resume and cover letter. Telling your story is important to your development as a leader and as professional.
          </p>
        </div>
      </section>
       <section>
        <div class="assign-details-articles">
          <h3>PRE-READING</h3>
          <ol>
            <li><a href="http://www.slate.com/articles/business/moneybox/2013/08/cover_letter_writing_advice_how_to_write_a_cover_letter_for_an_entry_level.html">I’ve Read 500 Cover Letters for Entry Level Media Jobs</a> Although she’s talking about media jobs, pay attention to all the tips! And what not do to!</li>
            <li><a href="http://www.fastcompany.com/3016727/leadership-now/dont-be-boring-how-to-write-a-cover-letter-that-can-get-you-the-job">Don’t Be Boring: How to Write a Cover Letter That Can Get You the Job</a></li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due by Friday, March 21 by 9 PM.</h3>
          <ol>
            <li><strong>Assignment:</strong> Draft a Cover Letter tailored to at least 1 summer opportunity you are looking at.</li>
            <li><strong>Directions:</strong>  Complete, save doc and upload URL to the Beyond Z Portal.</li>
            <li><strong>Deadline:</strong> Upload of first draft of your resume due by Friday, March 21 at 9 PM.</li>
          </ol>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/3wohfm4ohgudm47/H.%20Week%202_Career%20Portfolio_CoverLetter.docx?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/u6jkspem3u6f274/H.%20Week%202_Career%20Portfolio_CoverLetter_EAL.docx?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="cover-letter/submit/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
 
