<div class="assignment-details-container">
  <h2>
    Week 6: Perfecting Your Interviewing Skills <span class="session-type">(Peer Led)</span>
  </h2>

 <section>
    <div class="assignment-date">
      <p>Apr 7 - 13, 14 - 20</p>
    </div>
  </section>

  <section>
    
    <div class="assignment-details-main">
      <section>
        <div class="assignment-details-body">
          <p><span class="assignment-text-lead">CONTEXT</span>
          During the past five weeks, you’ve gotten opportunities to reflect on your story of self, and to reflect on your leadership assets as you’ve drafted or revised your resume and cover letter. This week we are going translate your written story into the world of in-person interviewing. Think of the interview as a professional conversation, where you are able to highlight your strengths and your achievements, while reflecting on areas that remain a challenge for you and what you are doing to address them.  Telling your story is important to your development as a leader and as professional, especially in interviews, as this is the one of the most important elements in any internship/job search process.
          </p>
          <p>In interviews, it’s important to remember that it not only matter what you say, but how you say it. How do you bring your resume to life? You’ll get more practice interviewing so that your confidence, personality, passion, a positive outlook, and excellent interpersonal and communication skills show through as you are highlighting your leadership qualities and experiences to a potential employer.
          </p>
        </div>
      </section>
       <section>
        <div class="assignment-details-articles">
          <h3>PRE-READING</h3>
          <p>&nbsp;Required:</p>
          <ol>
            <li><p><a href="http://idealistcareers.org/10-resources-to-help-you-rock-your-job-interview/">10 Resources to Help You Rock Your Job Interview</a></p></li>
            <li><p><a href="https://www.youtube.com/watch?v=epcc9X1aS7o">Job Interview Tips</a> (4 min video)</p></li>
          </ol>
          <p>&nbsp;Optional:</p>
          <ol>
            <li><p><a href="http://myinterviewsimulator.com/">Interview Simulator</a> (Use this to help you prepare for an interview)</p></li>
            <li><p><a href="https://itunes.apple.com/us/app/interview-prep-questions-free!/id334348315?mt=8">Free interview preparation flash cards</a></p></li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assignment-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due by Friday, April 11 by 9 PM.</h3>
          <ul>
            <li><p><strong>Assignment:</strong> Prepare for Mock Interview Week. Schedule your interviews <a href="https://docs.google.com/spreadsheet/ccc?key=0AqSVLa-AGkW_dEIzT2t0NG9iRWY5XzBqbWVqZ0tqb0E&usp=sharing">here</a>.
            In addition, revise the 2nd Draft of your Resume and Cover Letter and upload documents /sharing with your Coach.</p></li> 
            <li><p><strong>Deadline:</strong> Upload your <a href="https://www.dropbox.com/s/p4du6bcv1ypbtxj/N%20%20Week%206_Career%20Portfolio_Interviews_EAL.docx?dl=1">Evidence of Applied Learning (EAL)</a> by Friday, April 11 at 9 PM.</p></li>
          </ul>
        </div>
      </section>
   </div>
   
    <div class="assignment-details-sidebar">
      <section>
        <div class="assignment-details-buttons">
          <section>
            <a class="btn-assignment-details" href="https://www.dropbox.com/s/pvbld8ne7i4mobx/N%20%20Week%206_Career%20Portfolio_Interviews.docx?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assignment-details" href="https://www.dropbox.com/s/p4du6bcv1ypbtxj/N%20%20Week%206_Career%20Portfolio_Interviews_EAL.docx?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assignment-details" href="interview-simulations/submissions/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
