<div class="assign-details-container">
  <h2>
    Week 3: Power through Networks <span class="session-type">(Coach Led)</span>
  </h2>

 <section>
    <div class="assign-date">
      <p>Mar 17 - 23</p>
    </div>
  </section>

  <!-- DELETE THIS -->
  <section>
    <div class="assign-col">
      <h3><span class="bzred">Coming Soon!</span></h3>
    </div>
  </section>

  
  <!--  
  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">SUMMARY</span> [INSERT SUMMARY] 
        </div>
      </section>
      <section>
        <div class="assign-details-body">
          <p><span class="assign-text-lead">CONTEXT</span> [INSERT CONTEXT]
        </div>
      </section>
       <section>
        <div class="assign-details-articles">
          <h3>PRE-READING<h3>
          <ol>
            <li><p> [INSERT LINKS]</p></li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due by Friday, March XX by 9 PM.</h3>
          <p>[INSERT EAL DESCRIPTION</p>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="#?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assign-details" href="#?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="insertAssignment/submit/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
 
 -->
 
