<div class="assign-details-container">
  <h2>
    Week 3: Power through Networks <span class="session-type">(Coach Led)</span>
  </h2>

 <section>
    <div class="assign-date">
      <p>Mar 17 - 23</p>
    </div>
  </section>

  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">SUMMARY</span>
          Last week we looked at your passions and strengths and how to learn more about jobs that might be a good fit through informational interviews. Most of those informational interviews will likely come from someone in your network. This week, you’re going to get practice pushing beyond your comfort zone and learn why it’s so important to be connected with people outside your circle of family and friends. So, get ready! You’re going to explore the power of investing in the relationships in your network, and take inventory of the connections you have with others. In you coaching cohort, you are going to discover the difference between strong ties and weak ties and the benefits of the unique relationships you have with people who are close to you (like your family, friends) and connections that are not as close, but still are important to your support and development. You will gain more confidence in cultivating relationships with more weak ties, resulting in a richer network of resources and opportunities. 
          </p>
          <p>
          You will also build on the power of relationships and using your networks to achieve things. Leadership begins with understanding yourself: your values, your motivation, your story.  But leadership is also about enabling others to achieve purpose.  
          </p> 
        </div>
      </section>
      <section>
        <div class="assign-details-center">
          <blockquote>
            <p>Networking is not about just connecting people. It’s about connecting people with people, people with ideas, and people with opportunities.</p>
            <footer>Michele Jennae</footer>
          </blockquote>
        </div>
      </section>
      <section>
        <div class="assign-details-body">
          <p><span class="assign-text-lead">CONTEXT</span>
          You’ve already started to build your network by scheduling and having informational interviews to explore potential career paths. In securing an internship or job for the summer, networking is important in order to find out about new opportunities that you normally would not have known about or position yourself to apply for competitive opportunities. The more diverse your network is beyond your usual circle of family, friends, and colleagues, the better off you’ll be in finding new and different opportunities that continue to accelerate your growth, push your learning boundaries and motivate you to go Beyond Z.  So it’s important that you learn how to cultivate relationships with weak ties and to build up confidence talking to people you don’t know very well.
          </p>
          <p>
          Besides earning money, your relationships are another valuable resource, or a form of capital. In fact, researchers like Dr. Robert Putnam at Harvard University have coined the term, “social capital” which refers to “the social trust, norms, and networks that people can draw upon to solve common problems.” <a href="http://www.bettertogether.org/socialcapital.htm">(Source here).</a> It’s the reciprocal relationships that allow people to do things for each other and goes beyond feel-good emotions, but transfer actual benefits like information, cooperation, and support among members in the network. 
          </p>
        </div>
      </section>
       <section>
        <div class="assign-details-articles">
          <h3>PRE-READING - 30 mins</h3>
          <ol>
            <li><p><a href="http://www.linkedin.com/today/post/article/20130617112202-69244073-finding-the-hidden-value-in-your-network">Finding the Hidden Value of Your Network</a> (1 page) </p></li>
            <li><p><a href="http://www.inc.com/magazine/20030101/25049.html">The 10 Secrets of a Master Networker by Tahl Raz</a> (4 pages)</p></li>
            <li><p><a href="http://www.marketplace.org/topics/your-money/ask-money/minorities-have-harder-time-networking">Minorities Have a Harder Time Networking Radio Clip</a> (play: 6 min)</p></li>
            <li><p><a href="http://theundercoverrecruiter.com/perfect-linkedin-profile/">The Perfect LinkedIn Profile</a> (Scan this)</li> 
          </ol>
          <p>&nbsp;<strong><em>Optional Reading:</em></strong></p>
          <ol>
            <li><p><a href="http://www.youtube.com/watch?v=cTU2FkVyoUw">What’s networking?</a> (<3 min)</p></li>
            <li><p><a href="http://www.youtube.com/watch?v=aVwYWt_BfF8">How do you start networking?</a> (<3 min)</p></li> 
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due Friday, April 4, by 9 PM.</h3>
          <p>
          Career Mastery Portfolio Artifact after this lesson: 
          <p>
          <ol>
            <li><p>You will open and establish a Linked-In profile that is at least 90% complete and send to at least 5 connections in their close family and friend network and 5 professional connections in the Beyond  Z network.</p></li>
            <li><p>Optional: If you are interested and have time, you can also complete your Network Map and Upload it the Your Beyond Z Google Drive.</p></li>
          </ol>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/9fiw81jo8onrhkb/I%20%20Week%203_%20Power%20through%20Networks.docx?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/3n193wtct2tso3c/I%20%20Week%203_%20Power%20through%20Networks_EAL.docx?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="networks/submit/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
 
