<div class="assignment-details-container">
  <section>
    <h2>Week 1: Exploring Your Passions and Professions <span class="session-type">(Coach Led)</span></h2>
  </section>
  
  <section>
    <div class="assignment-date">
      <p>Mar 3 - 9</p>
    </div>
  </section>
  
  <section>
    
    <div class="assignment-details-main">
      <section>
        <div class="assignment-details-summary">
          <p><span class="assignment-text-lead">SUMMARY</span> College participants take inventory of their assets. They explore their passions in life and potential professional career interests that align with their assets and market place contexts. They also discuss ways to identify purposeful and fulfilling summer opportunities and position themselves on paths geared toward longer term success.
          </p>
        </div>
      </section>
      <section>
        <div class="assignment-details-body">
          <p><span class="assignment-text-lead">CONTEXT</span> At Weekend 0 you learned reflected on your story of self - who you are and what you value as a person. In this week’s lesson we are going to take that exploration a step further. This week you will think about the intersection between your passions, your strengths, and how you can earn a living doing what you enjoy. In other words, how to you think about future careers that might be right for your skills and passions. Some of you may already have strong ideas about what careers you’d like to try. Others of you may have no idea. This lesson will help everyone reflect on their own strengths and explore strategies to confirm their career decisions or learn about possible opportunities. After all, it’s not uncommon for students to enter college with one career goal and leave with another. We’d like to help you navigate that process.</p>
          <p>This feels urgent, because the sooner you think about the work world  (freshmen year orientation is not too early!) and take specific steps to explore what you’d like to try and do more times, the better off you will be when you actually need to land a job after college as a graduating senior.  A recent study released by the Pew Research Institute in January asked recent college graduates what their biggest regrets were, and half of them said that getting more work experience while still in school could have better prepared them for the job they wanted to land.  This week will help you think about career fields, how much they pay and how to think about exploring these fields by requesting informational interviews.</p> 
        </div>
      </section>
       <section>
        <div class="assignment-details-articles">
          <h3>PRE-READING - 30 min, lots of info graphics!</h3>
          <ol>
            <li>
            <p><a href="http://www.inc.com/comcast/articles/good-to-great-are-you-a-hedgehog-or-a-fox.html">The Hedgehog concept, by Jim Collins, Good to Great</a></p>
            </li>
            <li>
            <p><a href="http://www.washingtonpost.com/lifestyle/magazine/starting-college-heres-how-to-graduate-with-a-job/2013/08/09/06805f36-ea79-11e2-a301-ea5a8116d211_story.html">Here’s How to Graduate with a Job – Washington Post.</a> Pay attention especially to info graphics</p>
            </li>
            <li>
            <p><a href="http://www.npr.org/blogs/money/2013/09/10/219372252/the-most-and-least-lucrative-college-majors-in-1-grap">The Most and Least Lucrative College Majors in 1 Graph - NPR.</a>  Read article and listen to the 5 minute radio clip.</p>
            </li>
            <li>
            <p><a href="http://www9.georgetown.edu/grad/gppi/hpi/cew/pdfs/whatsitworth-complete.pdf">The Economic Value of College Majors – Georgetown University.</a> Scan, but pay attention to the graphs pages 13-29.</p>
            </li>
          </ol>
          <p>&nbsp;<strong><em>Optional Reading:</em></strong></p>
          <ol>
            <li>
            <p><a href="http://www.washingtonpost.com/wp-srv/special/lifestyle/magazine/how-to-get-a-job-after-college/?tid=up_next">How to Get a Job After College, Washington Post</a> (all info graphics!)</p>
            </li>
            <li>
            <p><a href="http://www.pewresearch.org/fact-tank/2014/02/11/6-key-findings-about-going-to-college/">Six Key Findings About Going to College, Pew Research Center</a> (mostly info graphics!)</p>
            </li>
            <li>
            <p><a href="http://www.inc.com/jessica-stillman/what-it-takes-to-hire-top-ivy-league-talent.html">What it Takes to Hire Top Ivy League Talent – Inc. Employer’s Perspective</a></p>
            </li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assignment-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due by Friday, March 14 by 9 PM.</h3>
          <p> 
          Reflect on companies or organizations that you’d like to work for.  Request at least 1 informational interview, gaining the experience of reaching out to people outside your network and building your network. 
          </p>
        </div>
      </section>
      <section>
        <div class="assignment-details-half-screen">
          <%= image_tag "undergradJobSurvey.png" %> 
        </div>
        <div class="assignment-details-half-screen">
          <blockquote>
            <p>If there is one thing every career development official in college stresses, again and again, it’s how much work outside the classroom, particularly an internship or eight, can help students find jobs after graduation.</p>
            <footer>Jim Tankersley Washington Post</footer>
          </p>
        </div>
      </section>
   </div>
   
    <div class="assignment-details-sidebar">
      <section>
        <div class="assignment-details-buttons">
          <section>
            <a class="btn-assignment-details" href="https://www.dropbox.com/s/5kolp0reqiyon8k/F%20%20Week%201_Exploring%20Passions%20and%20Professions.docx?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assignment-details" href="https://www.dropbox.com/s/fkw86lar4i8c3m8/F%20Week%201_Exploring%20Passions%20and%20Professions_EAL.docx?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assignment-details" href="passions-professions/submissions/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>

