<div class="assignment-details-container">
 <h2>Week 9: Capstone - Presentation Rehearsal <span class="session-type">(Coach Led)</span></h2>
 <section>
    <div class="assignment-date">
      <p>Apr 28 - May 4</p>
    </div>
  </section>

  <section>
    
    <div class="assignment-details-main">
      <section>
        <div class="assignment-details-summary">
          <p>
           Please come prepared with 2-3 of your best ideas for the Capstone Challenge before you come to the Week 9 Cohort Meeting.
          </p>
        </div>
      </section>
      <section>
        <div class="assignment-details-summary">
          <h3>MEETING AGENDA</h3>
          <table class="meeting-agenda-table">
            <thead><tr><th class="col-sm-1">Time</th><th class="col-sm-11">Activity</th></tr></thead>
            <tbody>
              <tr>
                <td>5 min</td>
                <td>
                  <p><strong>Open: Roses & Thorns (and buds – promising events)</strong> - Recap “field research” or highs/lows from the past week.</p>
                </td>
              </tr>
              <tr>
                <td>45 min</td>
                <td>
                  <p><strong>Team Work Time</strong> - Team work together to finalize ideas and put together their presentations.</p>
                                     <p>
                                       Coaches go around the teams and ask:
                                     </p>
<ul>
<li>
Long Shot Idea to solve for challenge
</li><li>
Safe Bet Idea to solve for challenge
</li><li>
Most Meaningful Idea to solve for challenge
</li>
</ul>
                                      <p>
                                       Coaches check in to see 6 presentation criteria are being addressed here.
                                      </p>
                </td>
              </tr>
              <tr>
                <td>30 min</td>
                <td>
                  <p>
                  <strong>Team Presentation Rehearsals</strong> – Coaches give each team up to 15 minutes to practice their presentations in front of the large group. Cohort provides feedback to each team on their presentation.
                  </p>
                  <p>
                  Meeting Details to Be Released with Campus Administrators by Beyond Z Staff.
                  </p>
                </td>
              </tr>
              <tr>
                <td>10 min</td>
                <td>
                  <p>
                  <strong>Cohort Close</strong> – Roses and Thorns. Closing of Cohort Meeting in a manner unique coach, and discusses ways to keep in touch over the summer.
                  <ul>
                    <li>
                      <p>Gratitude circle</p>
                    </li>
                    <li>
                      <p>Shout-outs/snaps</p>
                    </li>
                    <li>
                      <p>Summiter Musings</p>
                    </li>
                    <li>
                      <p>Other Closing</p>
                    </li>
                  </ul>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
   </div>
   
    <div class="assignment-details-sidebar">
      <section>
        <div class="assignment-details-buttons">
          <!--
          <section>
            <a class="btn-assignment-details" href="https://www.dropbox.com/s/wlanfcfdcbovtc9/P%20Week%208_BZ%20Academy%20Capstone%20Design%26Field%20Research.docx?dl=1">Download Complete Module</a>
          </section>
          -->
          <!--
          <section>
            <a class="btn-assignment-details" href="#?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assignment-details" href="insertAssignment/submissions/new">Upload Assignment</a>
            </section>
            -->
        </div>
      </section>
    </div>
  </section>
