<div class="assign-details-container">
  <h2>
    Week 2(b): Resume <span class="session-type">(Peer Led)</span> 
  </h2>

 <section>
    <div class="assign-date">
      <p>Mar 10 - 16</p>
    </div>
  </section>

  <section>
    
    <div class="assign-details-main">
      <section>
        <div class="assign-details-summary">
          <p><span class="assign-text-lead">SUMMARY</span>
          In securing an internship or job for the summer, consider your resume as the crown jewel of your career portfolio. Just like companies have logos and “brand reputations” where they are publicly known for certain things, a resume reflects your own personal brand and represents what you stand for as a leader and as a professional. It’s one of the most important professional documents that represents you; a good resume will help you to open doors to interviews for competitive internships and job opportunities. Your objective in crafting a resume is to set yourself apart from hundreds or thousands of other candidates and position yourself as uniquely suited for the opportunity for which you are applying. </p>        </div>
      </section>
      <section>
        <div class="assign-details-body">
          <p><span class="assign-text-lead">CONTEXT</span>
          During the BZ launch, you practiced crafting and delivering your leadership story. Leadership begins with understanding yourself: your values, your motivation, your story.  But leadership is also about enabling others to achieve purpose and enabling others to join with you in your development. Therefore, it’s important that you be able to share your story, which brings together your strengths/assets and your unique background. At Weekend 0, you got practice sharing your story as a personal narrative. Now, you will get practice telling your story in a professional context by way of a resume and cover letter. Telling your story is important to your development as a leader and as professional.  
          </p>
        </div>
      </section>
       <section>
        <div class="assign-details-articles">
          <h3>PRE-READING</h3>
          <ol>
            <li><p><a href="http://www.ocs.fas.harvard.edu/students/materials/resumes_and_cover_letters.pdf">Resumes and Cover Letters Handout from Harvard</p></li>
            <li><p><a href="http://www.slate.com/blogs/future_tense/2013/01/25/amaz_ing_philippe_dubost_s_fake_amazon_page_sets_new_bar_for_online_resumes.html">The Cleverest Online Resume You’ve Ever Seen</a> (if you're curious here's the <a href="http://www.phildub.com/">actual resume</a>)</p></li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assign-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due Friday, March 21 by 9 PM.</h3>
          <p>
            <ol>
              <li><p><strong>Assignment:</strong> Draft or revise your resume for an opportunity this summer.</p></li>
              <li><p><strong>Directions:</strong>  Complete, save doc and upload URL to the Beyond Z Portal.</p></li>
              <li><p><strong>Deadline:</strong> Upload of first draft of your resume.</p></li>
           </ol>
          </p>
        </div>
      </section>
   </div>
   
    <div class="assign-details-sidebar">
      <section>
        <div class="assign-details-buttons">
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/2ro5x1nnef6jo02/G.%20Week%202_Career%20Portfolio_Resume.docx?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assign-details" href="https://www.dropbox.com/s/skb6u1uifywod6h/G.%20Week%202_Career%20Portfolio_Resume_EAL.docx?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assign-details" href="resume/submissions/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
 
