<div class="assignment-details-container">
  <section>
    <h2>Weekend 0 Launch: Personal Assets – The Story of Self and the Story of Us <span class="session-type">(Staff Led)</span></h2>
  </section>
  <section>
    <div class="assignment-date">
      <p>Feb 28 - Mar 1</p>
    </div>
  </section>

  <section>

    <div class="assignment-details-main">
   
      <section>
        <div class="assignment-details-summary">
          <p><span class="assignment-text-lead">SUMMARY</span> Welcome to Braven! The focus of the launch weekend is to share the vision of BZ and to engage in a public narrative workshop that builds participants’ foundation of assets – including: development of their own unique personal story that they draw their strength from, including being proud of who you are, where you’ve come from, understanding the context in which you live and recognizing the power and value that your identity can bring to leadership. Participants will meet their leadership coaches, BZ staff and most importantly, get to know each other as they create a community of support. 
          </p>
        </div>
      </section>
   
      <section>
        <div class="assignment-details-articles">
          <h3>RESOURCES</h3>
          <ol>
            <li>
            <p><a href="https://www.dropbox.com/s/0ny1vlov3vn48ta/B.%20College%20Pilot%20Career%20Portfolio%20Assignments%20and%20Deadlines.docx?dl=1">Career Portfolio Assignments and Deadlines</p>
              </li>
              <li>
              <p><a href="https://www.dropbox.com/s/cdym2c1l6x6zydo/C.%20BZ%20Leadership%20and%20Career%20Academy%20Syllabus.docx?dl=1">Leadership and Career Academy Syllabus</a></p>
              </li>
            </ol>
          </div>
        </section>
      
      </div> <!-- /assignment-details-main -->

      <div class="assignment-details-sidebar">
        <section>
          <div class="assignment-details-buttons">
            <section>
              <a class="btn-assignment-details" href="https://www.dropbox.com/s/lggui3gf6ppowfs/E.%20Week%200_Story%20of%20Self%20%26%20Us%20Workshops.docx?dl=1">Download Complete Module</a>
            </section>
            <section>
              <a class="btn-assignment-details" href="https://docs.google.com/a/beyondz.org/forms/d/1cgwwrGn3ZMNkrKvL-Uj4FNz1Qf27xPc6usqse7fTWBg/viewform">Upload Assignment</a>
            </section>
          </div>
        </section>
      </div>

    </section>
  </div>

