<div class="assign-details-container">
  <h2>
    This is a template for the assigment details page.
  </h2>
  <div class="row-fluid">
    <h3>Here is a header!</h3>
    <p>
    ... and here is some text!  With a fake <a href="#">link</a>
    </p>
  </div>

</div>

