<div class="assignment-details-container">
  <h2>
    Week X: InsertTitle <span class="session-type">(XXX Led)</span>
  </h2>

 <section>
    <div class="assignment-date">
      <p>Mar x - y</p>
    </div>
  </section>

  <!-- DELETE THIS -->
  <section>
    <div class="assignment-col">
      <h3>Coming Soon!</h3>
    </div>
  </section>

  
  <!--  
  <section>
    
    <div class="assignment-details-main">
      <section>
        <div class="assignment-details-summary">
          <p><span class="assignment-text-lead">SUMMARY</span> [INSERT SUMMARY] 
        </div>
      </section>
      <section>
        <div class="assignment-details-body">
          <p><span class="assignment-text-lead">CONTEXT</span> [INSERT CONTEXT]
        </div>
      </section>
       <section>
        <div class="assignment-details-articles">
          <h3>PRE-READING<h3>
          <ol>
            <li><p> [INSERT LINKS]</p></li>
          </ol>
        </div>
      </section>
      <section>
        <div class="assignment-details-homework">
          <h3>EVIDENCE OF APPLIED LEARNING (EAL) <br/> - Due by Friday, March XX by 9 PM.</h3>
          <p>[INSERT EAL DESCRIPTION</p>
        </div>
      </section>
   </div>
   
    <div class="assignment-details-sidebar">
      <section>
        <div class="assignment-details-buttons">
          <section>
            <a class="btn-assignment-details" href="#?dl=1">Download Complete Module</a>
          </section>
          <section>
            <a class="btn-assignment-details" href="#?dl=1">Download Assignment</a>
          </section>
          <section>
            <a class="btn-assignment-details" href="insertAssignment/submissions/new">Upload Assignment</a>
          </section>
        </div>
      </section>
    </div>
  </section>
 
 -->
 
