<div id="new-professional-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Register with us</h1>

          <p class="lead">
          Thanks!
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
