<div class="comment <%= comment.user.id == @current_user.id ? "from-me" : "from-other" %>">
  <div class="comment-by"><span class="comment-speaker"><%= comment.user.id == @current_user.id ? "You" : comment.user.name %></span> commented on <span class="comment-time"><%= comment.updated_at.strftime("%B %d, %Y") %></span>:</div>
  <div class="comment-content">
    <p><%= comment.content %></p>
  </div>
</div>
