<div class="comment-form-holder">
  <%= form_for Comment.new do |f| %>
    <%= f.text_area :content, size: "60x4", placeholder: "Add a comment..." %>
    <%= f.hidden_field :task_id, { :value => task.id } %>
    <br />
    <button type="submit">Post Comment</button>
  <% end %>
</div>
