<div class="completion-status">
  <% if @task.pending_approval? %>
    <div class="status-student-pending-approval">This task is waiting on your coach to provide feedback.</div>
  <% elsif @task.pending_revision? %>
    <div class="status-student-pending-revision">This task needs revisions from you.</div>
  <% elsif @task.complete? %>
    <div class="status-complete">COMPLETE!</div>
  <% end %>
</div>


<%= render "tasks/form", { task: @task } %>
