<div class="completion-status">
  <% if @task.pending_approval? %>
    <div>
      <button class="approve-task" type="button" data-task-id="<%= @task.id %>">Approve</button>
      <button class="request-task-revisions" type="button" data-task-id="<%= @task.id %>">Request Revisions</button>
    </div>
  <% elsif @task.pending_revision? %>
    <p>This task is pending revision from the student.</p>
      <button class="approve-task" type="button" data-task-id="<%= @task.id %>">Approve without waiting for revisions</button>
  <% elsif @task.complete? %>
    <p>This task is complete.</p>
  <% elsif @task.new? %>
    <p>The student has not yet submitted this task.</p>
  <% end %>
</div>
