<div class="task-discussion">
  <h4>Task Discussion</h4>
  <% if @current_user.coach? %>
    <p>Communicate with your student.</p>
  <% else %>
    <p>Communicate with your coach. Ask for help or comment here.</p>
  <% end %>
  
  <%= render 'shared/comments', item: @task %>
</div>
