<h1>Assignment Tasks</h1>

<div id="submissions_instructions">
  Instructions: Please submit your assignment to the right.
</div>

<div id="submissions_list">

  <% @tasks.each do |task| %>
    <%# only take document uploads for now %>
    <% if task.kind == 'file' && task.file_type == 'document' %>   
      <% if task.files.present? %>
      
        <table id="task_table">
          <thead>
            <th>Name</th>
            <th>File</th>
            <th>Uploaded</th>
          <thead>
          <tr>
            <td>
              <%= task.task_definition.name %>:
            </td>
            <td>
              <%= task.files.first["#{task.file_type}_file_name"] %>
            </td>
            <td>
              <%= task.updated_at.strftime("%B %d, %Y") %>
            </td>
          </tr>
        </table>

      <% else %>
        <%= render partial: 'form', locals: {task: task} %>
      <% end %>
    <% end %>
  <% end %>

</div>