
header #banner .top-left {
  @extend .col-sm-3;
  padding: 4px 0px;
}

header #banner .top-middle {
  @extend .col-sm-6;
  padding: 0px;
}

header #banner .top-right {
  @extend .col-sm-3;
  @extend .text-right;
  padding-top: 30px;

  .sign-in-button {
    @extend .btn;
    @extend .btn-primary;
  }
}

.big-picture {
  .apply-button {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
    height: 3em;
    font-size: 2em;
  }

  /* The idea of this is to simply darken the picture
     so the sign up button is easier to see */
  .sign-up-button-container {
    position: absolute;

    /*
    left: 28%;
    top: 20%;
    width: 33%;
    height: 33%;
    */

    left: 0px;
    right: 0px;
    top: 75%;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.7);

    p {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    > .vertical-align-wrapper {
      display: table;
      width: 100%;
      height: 100%;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 4em;
      }
    }
  }
}

header #top-navigation {
  @extend .btn-toolbar;
  margin-top: 30px;

  .button-group {
    @extend .btn-group;
    @extend .btn-group-justified;
  }

  .button {
    @extend .btn;
    @extend .btn-default;
  }

  .button-primary {
    @extend .btn;
    @extend .btn-primary;
  }
}

#public-carousel {
  @extend .carousel;

  .carousel-indicators {
    bottom: 0px;
  }
}
