.public-container {
  padding: 0px;
}

.wide-section {
  width: 100%;

  .section-container {
    @extend .container;

    max-width: 1440px;
    padding: 0px;
  }
}

.header-section {
  background-color: $bzgrey9;
}

.footer-section {
  background-color: $bzgrey9;
}

#banner {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#banner .top-left {
  @extend .col-sm-4;
}

#banner .top-left img {
  margin-bottom: -50px; /* overlap the z in the image - pixels because it is based on the png itself. Note this should have no effect on narrower screens because then the menu is under it; seems to work right for me */
  position: relative; /* needed for z-index to take effect */
  z-index: 12; /* puts it on top of the image below */
}

#banner .navigation-holder {
  @extend .col-sm-6;
}

#banner .top-right {
  @extend .col-sm-2;
  @extend .text-right;
  padding-top: 30px;

  .sign-in-button {
    @extend .btn;
    @extend .btn-primary;
  }
}

#top-navigation {
  @extend .btn-toolbar;
  margin-top: 30px;

  .button-group {
    @extend .btn-group;
    @extend .btn-group-justified;
  }

  .button {
    @extend .btn;
    @extend .btn-default;
  }

  .button-primary {
    @extend .btn;
    @extend .btn-primary;
  }
}

.open-application-notification {
  @extend .alert;
  @extend .alert-info;
}

.infographic-column {
  @extend .col-sm-4;
  @extend .text-center;

  p {
    font-size: 1.5em;
  }

  h3 {
    color: $bzred;
    text-transform: uppercase;
    font-size: 2.5em;
  }
}

.mission-photo {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(image_path("bz_group_photo.jpg"));

  p {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    padding: 10%;
    font-size: 150%;

    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }
}

.large-quotes {
  font-size: 3em;
  line-height: 0.5em;
  vertical-align: text-top;
  font-family: 'Times New Roman';
  color: $bzorange;
  font-style: italic;
  padding: 0 0.03em 0 0.03em;
}

.sunk-quote {
  @extend .well;
  @extend .well-lg;

  p {
    font-style: italic;
  }

  footer {
    margin-top: 10px;
    font-weight: bold;
  }
}

.form-option-details {
  display: none;
  padding-left: 2em;
}

#top-navigation .nav {
  font-weight: bold;
  text-align: center;
}

.big-video-box {
  // max-width: 820px;
  // margin: 0px auto;
}
