<p>Welcome to Braven, <%= @user.first_name %>! We are excited to connect with you. You can now log into the site!</p>

<%= link_to 'BeBraven.org', root_url %><br />
Email: <%= @user.email %><br />
Password: your chosen password at sign up

<p>Thank you,<br />
The Braven Team</p>

