<div class="container-fluid">
  <div class="row-fluid">
    <div class="program-intro">
      <h1>Assignment Portal</h1>
      <p>Beyond Z’s college program provides participants with opportunities to practice building up their leadership skills and to gain valuable exposure to exploring careers. The curriculum is action-oriented and organized around discussions and interactive applications of real-world, applied skills that can be used immediately in a professional setting.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="program-forum">
      <h3>If you have questions or discussions please post them to the <a href="http://groups.google.com/a/beyondz.org/d/forum/career-prep-and-leadership-academy">group</a>.</h3>
    </div>
  </div>  
  <!-- BTODO: ToC?
  <div class="row-fluid">
    <div class="program-panel">
      <ul class="list-group">
        <li class="list-group-item"><a href="#template-section">Sample Assignment Template</a></li>
        <li class="list-group-item"><a href="#coverletter-section">How to Write a Cover Letter</a></li>
      </ul>
    </div>
  </div>
  -->


  <div class="row-fluid">
    <div class="assign-summary">
      <div class="row-fluid">
        <h2>Week 1: Exploring Your Passions and Professions</h2>
      </div>  
      <div class="row-fluid">
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Personal Assets and Networks:</strong> Identify and explore assets, passions and networks that can connect them to potential summer opportunities and beyond.</li>
            <li><strong>Organization and Prioritization:</strong> Inventory assets and research what jobs/career paths might allow them to follow their interests.</li>
            <li><strong>Networks:</strong> Identify the members of participant networks who provide key supports.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <ul>
            <li>Attend the group session.</li>
            <li>Request at least one informational interview to explore summer opportunities and/or career majors.</li>
            <li>Complete and upload <a href="https://www.dropbox.com/s/ikuygy0mka4q99r/F%20Week%201_Exploring%20Passions%20and%20Professions_EAL_022014.docx">this document</a> by <strong>9 PM, Friday, March 14.</strong></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/passions-professions">View Details</a>
          <a class="btn-assign-right" href="assignments/passions-professions/submit/new">Upload Assignment</a>
        </div>
      </div>
    </div>
  </div>

<div class="row-fluid">
    <div class="assign-summary">
      <div class="row-fluid">
        <h2>Week 2: Career Portfolio Cover Letter and Resume</h2>
      </div>  
      <div class="row-fluid">
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Emphasizing your assets as you write your resume</li>
            <li>Practice giving feedback on another college participant’s resume</li>
            <li>Finding summer internships and tailoring your resume to different opportunities that you identify.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <ul>
            <li>Read the summary - check out optional articles if you want</li>
            <li>Compose your Resume</li>
            <li>Upload your Resume and complete Evidence of Applied Learning (EAL) by <strong>9 PM Friday, March 21.</strong></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/coverletter">View Details</a>
          <a class="btn-assign-right" href="assignments/coverletter/submit/new">Upload Assignment</a>
        </div>
      </div>
    </div>
  </div>

</div>
