<div class="container-fluid">
  <section>
    <div class="program-intro">
      <h1>Leadership and Career Prep Academy<br/>Portal</h1>
      <p>Beyond Z’s college program provides participants with opportunities to practice building up their leadership skills and to gain valuable exposure to exploring careers. The curriculum is action-oriented and organized around discussions and interactive applications of real-world, applied skills that can be used immediately in a professional setting.</p>
    </div>
  </section>

  <!-- BTODO: we are going to create a facebook group and have one of the participants own it.  We can post a link to that once it happens
  <section>
    <div class="program-forum">
      <h3>If you have questions or discussions please post them to the <a href="http://groups.google.com/a/beyondz.org/d/forum/career-prep-and-leadership-academy">group</a>.</h3>
    </div>
  </section>  
  -->

  <!-- BTODO: ToC?
  <section>
    <div class="program-panel">
      <ul class="list-group">
        <li class="list-group-item"><a href="#template-section">Sample Assignment Template</a></li>
        <li class="list-group-item"><a href="#coverletter-section">How to Write a Cover Letter</a></li>
      </ul>
    </div>
  </section>
  -->

  <section>
    <div class="assign-summary">
      <section>
        <h2>Weekend 0 Launch: The Story of Self and Us <span class="session-type">(Staff Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Feb 28 - Mar 1</p>
        </div>
      </section>
      <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Purpose:</strong> Set the tone for the program.  Inspire students to dream big and to define for themselves what it means for them to go Beyond Z.  Build shared vocabulary.  Surface ideas/understanding from participants about leadership.</li>
            <li><strong>Personal Assets:</strong> Begin to identify personal assets and the assets in the cohort/BZ community.</li>
            <li><strong>Networks:</strong> Begin to build a sense of team and community.</li>
            <li><strong>Seven Generations:</strong> Explain the concept of Seven Generations, be deeply motivated by it and begin to understand one’s place in it.</li>
            <li><strong>Organization & Prioritization:</strong> Explore Beyond Z platform. Set-up Google Drive Account for assignments.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos</h3>
          <ul>
            <li>Take Myers Briggs <a href="http://www.humanmetrics.com/cgi-win/JTypes1.htm">Personality Test</a></li>
            <li>Go through the <a href="http://www.nsrfharmony.org/protocol/doc/north_south.pdf">Compass Exercise</a> and pick a direction that represents you</li>
            <li><strong>Upload your <a href="https://docs.google.com/a/beyondz.org/forms/d/1cgwwrGn3ZMNkrKvL-Uj4FNz1Qf27xPc6usqse7fTWBg/viewform">personality assessment results </a> by the end of Weekend 0.</strong></li>
            <li>Watch <a href="http://neworganizing.com/toolbox/training/story-of-self/">Story of Self</a> Video <em>(40 min)</em></li>
            <li>Complete Beyond Z <a href="https://docs.google.com/forms/d/10JAYX6qwuZ_z9ZXooZ_QsXmCWhGeLtsTFqIUKz6blp4/viewform">College Survey <em>(15 min)</em></a></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/story-of-self">View Details</a>
          <a class="btn-assign-right" href="https://docs.google.com/a/beyondz.org/forms/d/1cgwwrGn3ZMNkrKvL-Uj4FNz1Qf27xPc6usqse7fTWBg/viewform">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 1: Exploring Your Passions and Professions <span class="session-type">(Coach Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 3 - 9</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Personal Assets and Networks:</strong> Identify and explore assets, passions and networks that can connect them to potential summer opportunities and beyond.</li>
            <li><strong>Organization and Prioritization:</strong> Inventory assets and research what jobs/career paths might allow them to follow their interests.</li>
            <li><strong>Networks:</strong> Identify the members of participant networks who provide key supports.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Attend the group session.</li>
            <li>Request at least one informational interview to explore summer opportunities and/or career majors.</li>
            <li><strong>Complete and upload <a href="https://www.dropbox.com/s/ikuygy0mka4q99r/F%20Week%201_Exploring%20Passions%20and%20Professions_EAL_022014.docx?dl=1">this document</a> by 9 PM, Friday, March 14.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/passions-professions">View Details</a>
          <a class="btn-assign-right" href="assignments/passions-professions/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 2: Cover Letter and Resume <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 10 - 16</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Emphasizing your assets as you write your resume</li>
            <li>Practice giving feedback on another college participant’s resume</li>
            <li>Finding summer internships and tailoring your resume to different opportunities that you identify.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the summary - check out optional articles if you want</li>
            <li>Compose your Cover Letter and Resume</li>
            <li><strong><a href="assignments/cover-letter-and-resume/submit/new">Upload</a> your Cover Letter and Resume folder by 9 PM Friday, March 21.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/cover-letter-and-resume">View Details</a>
          <a class="btn-assign-right" href="assignments/cover-letter-and-resume/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 3: Power through Networks <span class="session-type">(Coach Led)</span</h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 17 - 23</p>
        </div>
      </section>

      <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Networks:</strong> Identify the members of participant networks who provide key supports.</li>
            <li><strong>Networks/ Self -Discipline: </strong> Learn habits and strategies that help to build a network.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Attend the group session.</li>
            <li>Set-up LinkedIn Account.</li>
            <li><strong>Complete and upload <a href="#?dl=1">this document</a> by 9 PM Friday, March 31.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/networks">View Details</a>
          <a class="btn-assign-right" href="assignments/networks/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 4: Spring Break! <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 24 - 30</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Learning more about our strengths</li>
            <li>Learning what others see in us and value about our contributions</li>
            <li>Seeing our successes in new and different ways</li> 
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the <a href="#">Best Self Exercise.</a></li>
            <li><strong>Email your coach 3 contacts by 9 PM Monday, March 24</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/spring-break">View Details</a>
          <a class="btn-assign-right" href="assignments/spring-break/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 5: Failing & Asking for Help <span class="session-type">(Coach Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
        <p>Mar 31 - Apr 6</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Agency:</strong> Explain what it means to have a growth mindset vs. a fixed mindset.</li>
            <li><strong>Agency:</strong> Determine what challenges college participants are facing in college and how they can work to overcome them (the challenges they face may or may not be associated with growth mindset).</li>
            <li><strong>Agency:</strong> Prepare to talk about challenges in an interview.</li>
            <li><strong>Personal Assets:</strong> Create a personal empowerment statement that supports going Beyond Z</li>
            <li><strong>Self-Discipline:</strong> Learn to successfully cope with disappointment and discuss what changes have you made in how you approach challenges or deal with disappointment.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Write Blog #1: Give guidance to younger BZ students about overcoming hardship.</li>
            <li>Record your message in a 2-minute video</li>
            <li>Sign up for mock interviews and turn in interviewing</li>
            <li><strong>Upload your blog by 9 PM Friday, April 11.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/asking-for-help">View Details</a>
          <a class="btn-assign-right" href="assignments/asking-for-help/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 6: Interview Simulations <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
        <p>Apr 7 - 13, 14 - 20</p
        ></div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Learning about components of a successful interview.</li>
            <li>Developing an understanding of the fundamentals of interview preparation, including how to conduct research on the organization.</li>
            <li>Practicing strategies to respond to typical interview questions.</li>
            <li>Learning how to follow-up after the interview.</li>
            <li>Review of informational interviewing, and networking.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the module and articles.</li>
            <li>Schedule at least 2 practice interviews.</li>
            <li><strong>Complete and upload <a href="#?dl=1">this document</a> by 9 PM Friday, April 11.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/interview-simulations">View Details</a>
          <a class="btn-assign-right" href="assignments/interview-simulations/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 7: Work Ethic <span class="session-type">(Coach Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Apr 14 - 20</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Agency:</strong> To learn skills to overcome a low work ethic and to identify best practices to help someone build a stronger worth ethic?</li>
            <li><strong>Seven Generations:</strong> Identify role models that have a strong worth ethic and commitment, drive, and hunger to succeed.  Understand how they have benefited from previous generations that have been driven to provide a better life for future generations and how they plan to pay it forward.</li>
            <li><strong>Self-Discipline:</strong> To reflect on their own work ethic and generate insights.</li>
            <li><strong>Goal Setting:</strong> To develop an action plan and to have pods work together in support.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>For inspiration read <a href="http://www.forbes.com/special-report/2014/30-under-30/finance.html">30 Under 30 Leaders who are changing the world!</a></li>
            <li>Write a blog about what keep you driven to succeed and how you stay organized and on track to meet that goal.</li>
            <li><strong>Complete and upload <a href="#?dl=1">this document</a> by 9 PM Friday, April 25.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/work-ethic">View Details</a>
          <a class="btn-assign-right" href="assignments/work-ethic/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 8: Organization & Self-Management <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Apr 21 - 27</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Using 2 tools. Big Rocks, “To-Do” lists to improve effectiveness and exchange ideas on other old school and technologically enhanced organization methods across the pod.</li>
            <li>Learning about other online tools and apps to stay on top of your priorities and life.</li>
            <li>Discuss strategies to enter</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Write Blog #2</li>
            <li>Write advice on staying organized and on top of your summer opportunity search.</li>
            <li><strong>Complete and upload <a href="#?dl=1">this document</a> by 9 PM Friday, May 2.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/organization-self-mgmt">View Details</a>
          <a class="btn-assign-right" href="assignments/organization-self-mgmt/submit/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

</div>
