 <div class="container-fluid">
  <div class="assign-intro">
    <h1>Welcome to Beyond Z!</h1>
    <p>[Insert description of what this page is]</p>
  </div>
  <div class="row-fluid">
    <div class="assign-panel">
      <ul class="nav nav-list">
        <li class="nav-header">Assignments</li>
        <li class="active"><a href="#">LinkedIn Profile</a></li> 
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="assign-summary">
      <h3>LinkedIn Profile</h3>
      <p>[Insert assignment here]</p>
      <p>
      Though, <strong>here</strong> are some <small>example</small> formatting options, for <em>you</em>.
      </p>
      <p class="lead">Here is a paragraph the stands out</p>
      <table class="table">
        <tr><td>Here is a table</td><td>for example</td></tr>
        <tr><td>Here is a table</td><td>for example</td></tr>
      </table>
      <p><a class="btn btn-default" href="assignments/linkedin">View details &raquo;</a></p>
    </div>
  </div>
  <hr>
  <footer>
  <p>&copy; Beyond Z 2014</p>
  </footer>
</div>
