 <div class="container-fluid">
  <div class="assign-intro">
    <h2>Beyond Z portal</h2>
    <p>[Insert description of what this page is]</p>
    <p>If you have questions or discussions please post them to the <a href="http://groups.google.com/a/beyondz.org/d/forum/career-prep-and-leadership-academy">group</a>.</p>
  </div>
  <div class="row-fluid">
    <div class="assign-panel">
      <ul class="list-group">
        <li class="list-group-item"><a href="#template-section">Sample Assignment Template</a></li>
        <li class="list-group-item"><a href="#coverletter-section">How to Write a Cover Letter</a></li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="assign-summary" id="template-section">
      <h3>[Insert Assignment Title Here]</h3>
      <p>[Insert assignment here]</p>
      <p>
      Though, <strong>here</strong> are some <small>example</small> formatting options, for <em>you</em>.
      </p>
      <p class="lead">Here is a paragraph the stands out</p>
      <table class="table">
        <tr><td>Here is a table</td><td>for example</td></tr>
        <tr><td>Here is a table</td><td>for example</td></tr>
      </table>
      <p><a class="btn btn-default" href="assignments/template">View details &raquo;</a></p>
      <p><a class="btn btn-default" href="assignments/submit">Submit</a></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="assign-summary" id="coverletter-section">
      <h3>How to Write a Cover Letter</h3>
      <p>
        <strong>You will get practice this week:</strong><br/>
        Researching and writing a cover letter that connects with potential internship supervisors.
      </p>
      <ul>
        <li>
        Read the summary and 2 half-page articles, “I’ve Read 500 Cover Letter for Entry Level Media Jobs” and “Don’t be Boring”
        </li>
        <li>
        Draft Cover Letter
        </li>
        <li>
        Complete Exit Ticket online before the Week 2 Meeting with your Pod.
        </li>
      </ul>
      <p><a class="btn btn-default" href="assignments/coverletter">View details &raquo;</a></p>
      <p><a class="btn btn-default" href="assignments/submit">Submit</a></p>
    </div>
  </div>
  <hr>
  <footer>
  <p>&copy; Beyond Z 2014</p>
  </footer>
</div>
