<div class="container">
  <h2>Welcome to Beyond Z!</h2>
  <p>[Insert description of what this page is]</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Create / Improve Your LinkedIn Profile</h2>
      <p>[Insert assignment here]</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Create / Improve Your Resume</h2>
      <p>[Insert assignment here]</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
  </div>
  <hr>
  <footer>
  <p>&copy; Beyond Z 2014</p>
  </footer>
</div>
