<div class="container-fluid">
  <div class="row-fluid">
    <div class="program-intro">
      <h1>Leadership and Career Prep Academy<br/>Portal</h1>
      <p>Beyond Z’s college program provides participants with opportunities to practice building up their leadership skills and to gain valuable exposure to exploring careers. The curriculum is action-oriented and organized around discussions and interactive applications of real-world, applied skills that can be used immediately in a professional setting.</p>
    </div>
  </div>

  <!-- BTODO: we are going to create a facebook group and have one of the participants own it.  We can post a link to that once it happens
  <div class="row-fluid">
    <div class="program-forum">
      <h3>If you have questions or discussions please post them to the <a href="http://groups.google.com/a/beyondz.org/d/forum/career-prep-and-leadership-academy">group</a>.</h3>
    </div>
  </div>  
  -->

  <!-- BTODO: ToC?
  <div class="row-fluid">
    <div class="program-panel">
      <ul class="list-group">
        <li class="list-group-item"><a href="#template-section">Sample Assignment Template</a></li>
        <li class="list-group-item"><a href="#coverletter-section">How to Write a Cover Letter</a></li>
      </ul>
    </div>
  </div>
  -->

  <div class="row-fluid">
    <div class="assign-summary">
      <div class="row-fluid">
        <h2>Weekend 0 Launch: Personal Assets – The Story of Self and the Story of Us <span class="session-type">(Staff Led)</span></h2>
      </div>  
      <div class="row-fluid">
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Purpose:</strong> Set the tone for the program.  Inspire students to dream big and to define for themselves what it means for them to go Beyond Z.  Build shared vocabulary.  Surface ideas/understanding from participants about leadership.</li>
            <li><strong>Personal Assets:</strong> Begin to identify personal assets and the assets in the cohort/BZ community.</li>
            <li><strong>Networks:</strong> Begin to build a sense of team and community.</li>
            <li><strong>Seven Generations:</strong> Explain the concept of Seven Generations, be deeply motivated by it and begin to understand one’s place in it.</li>
            <li><strong>Organization & Prioritization:</strong> Explore Beyond Z platform. Set-up Google Drive Account for assignments.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos</h3>
          <ul>
            <li>Take Myers Briggs <a href="http://www.humanmetrics.com/cgi-win/JTypes1.htm">Personality Test</a></li>
            <li>Go through the <a href="http://www.nsrfharmony.org/protocol/doc/north_south.pdf">Compass Exercise</a> and pick a direction that represents you</li>
            <li><strong>Upload your <a href="https://docs.google.com/a/beyondz.org/forms/d/1cgwwrGn3ZMNkrKvL-Uj4FNz1Qf27xPc6usqse7fTWBg/viewform">personality assessment results </a> by the end of Weekend 0.</strong></li>
            <li>Watch <a href="http://neworganizing.com/toolbox/training/story-of-self/">Story of Self</a> Video <em>(40 min)</em></li>
            <li>Complete Beyond Z <a href="https://docs.google.com/forms/d/10JAYX6qwuZ_z9ZXooZ_QsXmCWhGeLtsTFqIUKz6blp4/viewform">College Survey <em>(15 min)</em></a></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/story-of-self">View Details</a>
          <a class="btn-assign-right" href="https://docs.google.com/a/beyondz.org/forms/d/1cgwwrGn3ZMNkrKvL-Uj4FNz1Qf27xPc6usqse7fTWBg/viewform">Upload Assignment</a>
        </div>
      </div>
    </div>
  </div>



  <div class="row-fluid">
    <div class="assign-summary">
      <div class="row-fluid">
        <h2>Week 1: Exploring Your Passions and Professions <span class="session-type">(Coach Led)</span></h2>
      </div>  
      <div class="row-fluid">
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Personal Assets and Networks:</strong> Identify and explore assets, passions and networks that can connect them to potential summer opportunities and beyond.</li>
            <li><strong>Organization and Prioritization:</strong> Inventory assets and research what jobs/career paths might allow them to follow their interests.</li>
            <li><strong>Networks:</strong> Identify the members of participant networks who provide key supports.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Attend the group session.</li>
            <li>Request at least one informational interview to explore summer opportunities and/or career majors.</li>
            <li><strong>Complete and upload <a href="https://www.dropbox.com/s/ikuygy0mka4q99r/F%20Week%201_Exploring%20Passions%20and%20Professions_EAL_022014.docx?dl=1">this document</a> by 9 PM, Friday, March 14.</strong></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/passions-professions">View Details</a>
          <a class="btn-assign-right" href="assignments/passions-professions/submit/new">Upload Assignment</a>
        </div>
      </div>
    </div>
  </div>

<div class="row-fluid">
    <div class="assign-summary">
      <div class="row-fluid">
        <h2>Week 2: Career Portfolio Cover Letter and Resume <span class="session-type">(Peer Led)</span></h2>
      </div>  
      <div class="row-fluid">
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Emphasizing your assets as you write your resume</li>
            <li>Practice giving feedback on another college participant’s resume</li>
            <li>Finding summer internships and tailoring your resume to different opportunities that you identify.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the summary - check out optional articles if you want</li>
            <li>Compose your Cover Letter and Resume</li>
            <li><strong>Upload your Cover Letter and Resume folder by 9 PM Friday, March 21.</strong></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/coverletter">View Details</a>
          <a class="btn-assign-right" href="assignments/coverletter/submit/new">Upload Assignment</a>
        </div>
      </div>
    </div>
  </div>

</div>
