<div class="container-fluid">
  <section>
    <div class="program-intro">
      <h1>Leadership and Career Prep Academy<br/>Portal</h1>
      <p>Beyond Z’s college program provides participants with opportunities to practice building up their leadership skills and to gain valuable exposure to exploring careers. The curriculum is action-oriented and organized around discussions and interactive applications of real-world, applied skills that can be used immediately in a professional setting.</p>
    </div>
  </section>

  <!-- BTODO: we are going to create a facebook group and have one of the participants own it.  We can post a link to that once it happens
  <section>
    <div class="program-forum">
      <h3>If you have questions or discussions please post them to the <a href="http://groups.google.com/a/beyondz.org/d/forum/career-prep-and-leadership-academy">group</a>.</h3>
    </div>
  </section>  
  -->

  <!-- BTODO: ToC?
  <section>
    <div class="program-panel">
      <ul class="list-group">
        <li class="list-group-item"><a href="#template-section">Sample Assignment Template</a></li>
        <li class="list-group-item"><a href="#coverletter-section">How to Write a Cover Letter</a></li>
      </ul>
    </div>
  </section>
  -->

  <section>
    <div class="assign-summary">
      <section>
        <h2>Weekend 0 Launch: The Story of Self and Us <span class="session-type">(Staff Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Feb 28 - Mar 1</p>
        </div>
      </section>
      <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Purpose:</strong> Set the tone for the program.  Inspire students to dream big and to define for themselves what it means for them to go Beyond Z.  Build shared vocabulary.  Surface ideas/understanding from participants about leadership.</li>
            <li><strong>Personal Assets:</strong> Begin to identify personal assets and the assets in the cohort/BZ community.</li>
            <li><strong>Networks:</strong> Begin to build a sense of team and community.</li>
            <li><strong>Seven Generations:</strong> Explain the concept of Seven Generations, be deeply motivated by it and begin to understand one’s place in it.</li>
            <li><strong>Organization & Prioritization:</strong> Explore Beyond Z platform. Set-up Google Drive Account for assignments.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos</h3>
          <ul>
            <li>Take Myers Briggs <a href="http://www.humanmetrics.com/cgi-win/JTypes1.htm">Personality Test</a></li>
            <li>Go through the <a href="http://www.nsrfharmony.org/protocol/doc/north_south.pdf">Compass Exercise</a> and pick a direction that represents you</li>
            <li><strong>Upload your <a href="https://docs.google.com/a/beyondz.org/forms/d/1cgwwrGn3ZMNkrKvL-Uj4FNz1Qf27xPc6usqse7fTWBg/viewform">personality assessment results </a> by the end of Weekend 0.</strong></li>
            <li>Watch <a href="http://neworganizing.com/toolbox/training/story-of-self/">Story of Self</a> Video <em>(40 min)</em></li>
            <li>Complete Beyond Z <a href="https://docs.google.com/forms/d/10JAYX6qwuZ_z9ZXooZ_QsXmCWhGeLtsTFqIUKz6blp4/viewform">College Survey <em>(15 min)</em></a></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/story-of-self">View Details</a>
          <a class="btn-assign-right" href="https://docs.google.com/a/beyondz.org/forms/d/1cgwwrGn3ZMNkrKvL-Uj4FNz1Qf27xPc6usqse7fTWBg/viewform">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 1: Exploring Your Passions and Professions <span class="session-type">(Coach Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 3 - 9</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Personal Assets and Networks:</strong> Identify and explore assets, passions and networks that can connect them to potential summer opportunities and beyond.</li>
            <li><strong>Organization and Prioritization:</strong> Inventory assets and research what jobs/career paths might allow them to follow their interests.</li>
            <li><strong>Networks:</strong> Identify the members of participant networks who provide key supports.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Attend the group session.</li>
            <li>Request at least one informational interview to explore summer opportunities and/or career majors.</li>
            <li><strong>Complete and upload <a href="https://www.dropbox.com/s/5kolp0reqiyon8k/F%20%20Week%201_Exploring%20Passions%20and%20Professions.docx?dl=1">Evidence of Applied Learning (EAL)</a> by 9 PM, Friday, March 14.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/passions-professions">View Details</a>
          <a class="btn-assign-right" href="assignments/passions-professions/submissions/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 2(a): Cover Letter <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 10 - 16</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Researching & writing cover letters that connect with potential internship supervisors.</li>
            <li><strong>NOTE: This is a 2-part module that asks you to write a Resume and a Cover Letter, spending a total of 3 hours across both assignments.</strong></li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the summary and 2 half-page articles, <a href="http://www.slate.com/articles/business/moneybox/2013/08/cover_letter_writing_advice_how_to_write_a_cover_letter_for_an_entry_level.html">I’ve Read 500 Cover Letters for Entry Level Media Jobs</a> and <a href="http://www.fastcompany.com/3016727/leadership-now/dont-be-boring-how-to-write-a-cover-letter-that-can-get-you-the-job">Don’t Be Boring: How to Write a Cover Letter That Can Get You the Job</a></li> 
            <li>Draft Cover Letter</li>
            <li><strong>Submit Cover Letter and complete Evidence of Applied Learning (EAL) by 9 PM Friday, March 21.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/cover-letter">View Details</a>
          <a class="btn-assign-right" href="assignments/cover-letter/submissions/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 2(b): Resume <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 10 - 16</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Emphasizing your assets as you write your resume.</li>
            <li>Practice giving feedback on another college participant’s resume.</li>
            <li>Finding summer internships and tailoring your resume to different opportunities that you identify.</li>
            <li><strong>NOTE: This is a 2-part module that asks you to write a Resume and a Cover Letter, spending a total of 3 hours across both artifacts.</strong></li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the summary - check out optional articles if you want</li>
            <li>Compose your Resume</li>
            <li><strong>Submit Resume and complete Evidence of Applied Learning (EAL) by 9 PM Friday, March 21.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/resume">View Details</a>
          <a class="btn-assign-right" href="assignments/resume/submissions/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 3: Power through Networks <span class="session-type">(Coach Led)</span</h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 17 - 23</p>
        </div>
      </section>

      <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Networks:</strong> Identify the members of participant networks who provide key supports.</li>
            <li><strong>Networks/ Self -Discipline: </strong> Learn habits and strategies that help to build a network.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the articles.</li>
            <li>Set-up LinkedIn Account and send to 10 connections.</li>
            <li><strong>Complete and upload <a href="https://www.dropbox.com/s/3n193wtct2tso3c/I%20%20Week%203_%20Power%20through%20Networks_EAL.docx?dl=1">Evidence of Applied Learning (EAL) </a> by 9 PM Friday, April 4.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/networks">View Details</a>
          <a class="btn-assign-right" href="assignments/networks/submissions/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 4: Spring Break! <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Mar 24 - 30</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Learning more about our strengths.</li>
            <li>Learning what others see in us and value about our contributions.</li>
            <li>Seeing our successes in new and different ways.</li> 
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Read the <a href="https://www.dropbox.com/s/9jb9zvt1lpdcovv/K%20%20Week%204_Spring%20Break%20-%20Best%20Self%20Exercise%20Request.docx?dl=1">Best Self Exercise.</a></li>
            <li><strong>Complete and upload <a href="https://www.dropbox.com/s/ucddx42at97b9iv/K%20%20Week%204_Spring%20Break%20-%20Best%20Self%20Exercise%20Request_EAL.docx?dl=1">Evidence of Applied Learning (EAL)</a> by 9 PM, Friday, April 4.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/best-self">View Details</a>
          <a class="btn-assign-right" href="assignments/best-self/submissions/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 5: Failing & Asking for Help <span class="session-type">(Coach Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
        <p>Mar 31 - Apr 6</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li><strong>Agency:</strong> Explain what it means to have a growth mindset vs. a fixed mindset.</li>
            <li><strong>Agency:</strong> Determine what challenges college participants are facing in college and how they can work to overcome them (the challenges they face may or may not be associated with growth mindset).</li>
            <li><strong>Agency:</strong> Prepare to talk about challenges in an interview.</li>
            <li><strong>Personal Assets:</strong> Create a personal empowerment statement that supports going Beyond Z</li>
            <li><strong>Self-Discipline:</strong> Learn to successfully cope with disappointment and discuss what changes have you made in how you approach challenges or deal with disappointment.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Write Blog #1: Give guidance to younger BZ students about overcoming hardship.</li>
            <li>Give your coach 2 contacts for the <a href="https://www.dropbox.com/s/9jb9zvt1lpdcovv/K%20%20Week%204_Spring%20Break%20-%20Best%20Self%20Exercise%20Request.docx?dl=1">Best Self Exercise</a> by Friday, April 4</li> 
            <li>Sign up for mock interviews <a href="https://docs.google.com/spreadsheet/ccc?key=0AqSVLa-AGkW_dEIzT2t0NG9iRWY5XzBqbWVqZ0tqb0E&usp=sharing">here</a>.</li> 
            <li><strong>Complete and upload <a href="https://www.dropbox.com/s/4mjwhueiaje18wy/L%20%20Week%205_Failing%20and%20Learning%20-%20EAL.docx?dl=1">Evidence of Applied Learning (EAL)</a> by 9 PM, Friday, April 11.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/asking-for-help">View Details</a>
          <a class="btn-assign-right" href="assignments/asking-for-help/submissions/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
      <h2>
        Week 6: Perfecting Your Interviewing Skills <span class="session-type">(Peer Led)</span>
      </h2>
      </section>  
      <section>
        <div class="assign-date">
        <p>Apr 7 - 13, 14 - 20</p
        ></div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will get practice this week:</h3>
          <ul>
            <li>Knowing the basics of interviewing (overview information, types of interviews, etc.)</li>
            <li>Researching the industry and organization</li>
            <li>Preparing key questions and practicing strategies to respond to typical interview question and ace them! This includes: strategies of telling your personal story without making it sound like a pity story and determining when it’s appropriate to talk about one’s background or challenges they’ve had to overcome.</li>
            <li>Communicating your skills, interest, and "fit" with the org.</li>
            <li>Remembering the key details (dress, etiquette, going to the interview site in advance, etc.)</li>
            <li>Following up after an interview with a thank you email or card.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Go through Steps 1-6. Optional Resources to check out: Interview Simulator and Online Flashcards.</li>
            <li>Sign-up for 1 phone interview and 1 in person mock interview by Sunday, April 6 here: <a href="https://docs.google.com/spreadsheet/ccc?key=0AqSVLa-AGkW_dEIzT2t0NG9iRWY5XzBqbWVqZ0tqb0E&usp=sharing">Mock Interview Sign-Up Form</a>:  (Sign up for a total of 2 mock interviews)
            <li><strong>Complete and upload <a href="https://www.dropbox.com/s/p4du6bcv1ypbtxj/N%20%20Week%206_Career%20Portfolio_Interviews_EAL.docx?dl=1">Evidence of Applied Learning (EAL)</a> by 9 PM Friday, April 11.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/interview-simulations">View Details</a>
          <a class="btn-assign-right" href="assignments/interview-simulations/submissions/new">Upload Assignment</a>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
      <h2>BZ Academy Midpoint Summit: <em>At the Intersection of Leadership and Career Development</em></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Apr 12</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>Theme: Intersections</h3>
          <p>We are looking to convene all Beyond Z Fellows for a Midpoint Summit on Saturday, April 12 in San Francisco. Fellows will receive an opportunity to synthesize lessons and reflections thus far in the Academy, while practicing their skills in networking and interviewing.</p>
          <p>
          The theme of this Summit is “Intersections.” BZ Fellows will explore where their leadership identities, their cultural heritage (7 generations), and their academic and summer aspirations intersect and connect.  They will also explore their own development and who they are now and how it intersects with their visions for themselves in the future. This theme is also reinforced by the community leaders who attend the Summit as part of leadership and career panels, who will draw focus on to the intersections of interests, career passions, and ways of giving back to the world that they share with BZ students. Furthermore, a focus on “story of us” and “story of now” will draw more community connections among BZ students across different university campuses and what they can to together as a community of leaders.
          </p>
        </div>
        <div class="assign-summary-checklist">
          <h3>Please Bring:</h3>
          <ul>
            <li>10 copies of your resume and cover letter</li>
            <li>Your padfolio (from weekend 0) and pen</li>
            <li>Your A-Game for interviewing and networking practice!</li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="https://www.dropbox.com/s/gaycnymb36ji6c9/BZ%20Academy%20Midpoint%20Summit%20Agenda.docx?dl=1">View Details</a>
        </div>
      </section>
    </div>
  </section>



  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 7: Capstone - Framing, Organizing and Planning Field Research <span class="session-type">(Coach Led)</span></h2>
      </section>
      <section>
        <div class="assign-date">
          <p>Apr 14 - 20</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will choose one of these 4 topics for your challenge:
          </h3>
          <ul>
            <li>Connecting more low-income students to colleges where they can succeed and encouraging completion once they arrive on campus.</li>
            <li>Strengthening remediation to help academically underprepared students’ progress through and complete college.</li>
            <li>Increasing the pool of students preparing for college through early interventions.</li>
            <li>Leveling the playing field in college advising and SAT/ACT test preparation.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Review Capstone challenge in cohorts to frame Capstone content.</li>
            <li>Divvy up roles and responsibilities.</li>
            <li>Setup times next week to meet-up, plan, conduct internet and field research and hone in on their ideas for different questions.</li>
            <li><strong>Fill out <a href="https://docs.google.com/a/beyondz.org/forms/d/1HjMmcYLQtPbUGPQ4_B8MHU-EIm7dT-DGCBkiowdBQN4/viewform">Team Commitment Agreement form</a></strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/capstone-launch">View Details</a>
          <!--<a class="btn-assign-right" href="assignments/capstone-launch/submissions/new">Upload Assignment</a>-->
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 8: Capstone - Brainstorming Great Ideas to Address the Challenge <span class="session-type">(Peer Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Apr 21 - 27</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>You will continue this week:</h3>
          <ul>
            <li>Conduct field research by surveying their networks: ex: professors, classmates, peers, EOP advisors, mentors for ideas and testing out their ideas.</li>
            <li>Interviewing other students who have first-hand experiences with the challenge.</li>
            <li>Drawing from their experiences in the campus clubs they are in.</li>
            <li>Internet researching.</li>
            <li>Personally reflecting on the topic.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos This Week</h3>
          <ul>
            <li>Brainstorm with others in your network.</li>
            <li>Refine your top 3 ideas and start working on your presentation.</li>
            <li>Teams to schedule to meet-up 1-2 times for up to 3 hours.</li>
            <li>Teams must interview at least 1 support organization on campus to get ideas for your challenge topic.</li>
            <li><strong>Teams to submit draft summary of their top 2-3 ideas to their Coach by Wednesday, April 23 for feedback.</strong></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/brainstorm-challenge-ideas">View Details</a>
          <!--          <a class="btn-assign-right" href="assignments/brainstorm-challenge-ideas/submissions/new">Upload Assignment</a> -->
        </div>
      </section>
    </div>
  </section>

  <section>
    <div class="assign-summary">
      <section>
        <h2>Week 9: Capstone - Presentation Rehearsal <span class="session-type">(Coach Led)</span></h2>
      </section>  
      <section>
        <div class="assign-date">
          <p>Apr 28 - May 4</p>
        </div>
      </section>
       <section>
        <div class="assign-summary-practice">
          <h3>Please come prepared:</h3>
          <ul>
            <li>With 2-3 of your best ideas for the Capstone Challenge before you come to the Week 9 Cohort Meeting.</li>
          </ul>
        </div>
        <div class="assign-summary-checklist">
          <h3>Meeting To-Dos</h3>
          <ul>
            <li>Roses & Thorns</li>
            <li>Team Work Time </li>
            <li>Team Presentation Rehearsals</li>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="assignments/presentation-rehearsal">View Details</a>
          <!--          <a class="btn-assign-right" href="assignments/presentation-rehearsal/submissions/new">Upload Assignment</a> -->
        </div>
      </section>
    </div>
  </section>
</div>
