<div class="form-option-details">
  <section>
    <div class="col-sm-12">
      In the following areas:
      <br />
      <%= render :partial => 'areas', :locals => { :f => f } %>
    </div>
  </section>
</div>

