<div class="form-option-details">
  <section>
    <div>
      <span class="required">In the following areas:</span>
      <br />
      <%= render :partial => 'areas', :locals => { :f => f } %>
    </div>
  </section>

  <section>
    <div>
      Industry:
    </div>
    <div>
      <%= f.text_field :profession, :class => 'form-control' %>
    </div>
  </section>
  <section>
    <div>
      Company:
    </div>
    <div>
      <%= f.text_field :company, :class => 'form-control' %>
    </div>
  </section>


</div>

