<div class="form-option-details">
  <section>
    <div>
      <span class="required">In the following area:</span>
      <br />
      <%= render :partial => 'areas', :locals => { :f => f, :list => 'bz_regions_employers' } %>
    </div>
  </section>

  <section>
    <div>
      Industry:
    </div>
    <div class="col-sm-7">
      <%= f.text_field :profession, :class => 'form-control', :maxlength => '70' %>
    </div>
  </section>
  <section>
    <div class="required">
      Company:
    </div>
    <div class="col-sm-7">
      <%= f.text_field :company, :class => 'form-control', :maxlength => '70', :required => 'required' %>
    </div>
  </section>


  <div class="form-group">
    <button type="submit" class="button-primary">Submit</button>
  </div>
</div>

