<div class="form-option-details">
  <% unless @hide_other_regions %>
  <section>
    <div>
      <span class="required">I can help in:</span>
      <br />
      <%= render :partial => 'areas', :locals => { :f => f } %>
    </div>
  </section>
  <% else %>
    <%= f.hidden_field :bz_region, :value => params[:user][:bz_region] %>
  <% end %>
</div>

