<div class="form-option-details">
  <section>
    <div class="col-sm-12">
      I am on the faculty and/or staff at:
      <br />
      <%= render :partial => 'colleges', :locals => { :f => f } %>
    </div>
  </section>
</div>

