<div class="plank tertiary-md">
  <div class="section-container">
    <section>
      <div class="col-sm-8 col-sm-offset-2 text-center">
          <% if @enrollment.student_confirmed == "yes" %>
            <p class="shoutout">We're glad to have you!</p>
          <% end %>
          <% if @enrollment.student_confirmed == "no" %>
            <p class="shoutout">Thanks for letting us know.</p>
          <% end %>
          <% if @enrollment.student_confirmed == "maybe" %>
            <p class="shoutout">Thanks for letting us know.</p>
          <% end %>
      </div>
    </section>
  </div>
</div>

<div class="plank plain-lt">
  <div class="section-container">
    <section>
      <div class="col-sm-8 col-sm-offset-2">
          <% if @enrollment.student_confirmed == "yes" %>
            <% if @is_preaccelerator_student %>
              <p style="text-align: center;">Great! We will be in touch soon with more information. If you have any questions, please contact <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a></p>
            <% else %>
              <p style="text-align: center;">Great! Go register for for the class today!</p>
            <% end %>
          <% end %>
          <% if @enrollment.student_confirmed == "no" %>
            <p style="text-align: center;">We appreciate your feedback.</p>
          <% end %>
          <% if @enrollment.student_confirmed == "maybe" %>
            <p style="text-align: center;">Yep, it's a big decision! A Braven staff member will be in touch to talk it over.</p>
          <% end %>
      </div>
    </section>
  </div>
