<div id="sso_discovery">
  <h2>Fellows, choose your university</h2>

  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/6"><img src="/images/universities/nlu.png" alt="NLU" /></a>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/run.png" alt="Rutgers" /></a>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/sjsu.png" alt="SJSU" /></a>

  <h2>Everyone else, click the Braven logo below</h2>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/braven.png" alt="Braven" /></a>
</div>
