.button-default {
  @extend .btn;
  @extend .btn-default;
}

.button-primary {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;

  background-color: $primary-lt !important;
  border-color: $txt-lt !important;

  &:hover {
    background-color: $cta_highlight !important;
    border-color: $primary-md !important;

  }
}