// Class used by ruby on rails when validation fails.
.field-with-errors {
  @extend .has-error;
}

// Error messages for failed form validation.
#error-explanation {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;  
  background-color: #fdf7f7;
  border-color: #d9534f;

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #d9534f;
    font-size: 18px;
  }
  
  ul li {
    font-size: 14px;
  }
}