<div id="footer_bottom" class="braven_section hide-on-iframe">
			<div id="footer_menu">
		
			<div id="nav_menu-2" class="footer_widget widget_nav_menu braven-widget-order-0 braven-widget-first"><h3 class="footer-title">LEARN MORE</h3><div class="menu-footer-menu-col-one-container"><ul id="menu-footer-menu-col-one" class="menu"><li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="http://bebraven.org/become-a-fellow/">Braven Fellows</a></li>
<li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://bebraven.org/volunteer-as-a-coach/">Leadership Coaches</a></li>
<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://bebraven.org/partner-with-us/">Partners</a></li>
</ul></div></div><div id="nav_menu-3" class="footer_widget widget_nav_menu braven-widget-order-1"><h3 class="footer-title">TAKE ACTION</h3><div class="menu-footer-menu-col-two-container"><ul id="menu-footer-menu-col-two" class="menu"><li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="http://bebraven.org/apply-now/">Apply</a></li>
<li id="menu-item-642" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-642"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=VFUYARJB2QRXC" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=VFUYARJB2QRXC', 'Donate');" target="_blank">Donate</a></li>
<li id="menu-item-112" class="info_footer_link menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a href="mailto:info@bebraven.org">info@bebraven.org</a></li>
</ul></div></div><div id="nav_menu-4" class="footer_widget widget_nav_menu braven-widget-order-2"><h3 class="footer-title">ABOUT US</h3><div class="menu-footer-menu-col-three-container"><ul id="menu-footer-menu-col-three" class="menu"><li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="http://bebraven.org/about-us/">Who We Are</a></li>
<li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="http://bebraven.org/our-team/">Our Team</a></li>
<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://bebraven.org/about-us/partners-supporters/">Partners &amp; Supporters</a></li>
</ul></div></div><div id="nav_menu-5" class="footer_widget widget_nav_menu braven-widget-order-3 braven-widget-last"><h3 class="footer-title">CONNECT</h3><div class="menu-footer-menu-col-four-container"><ul id="menu-footer-menu-col-four" class="menu"><li id="menu-item-117" class="blog_fico menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://bebraven.org/blog/">Blog</a></li>
<li id="menu-item-118" class="fb_fico menu-item menu-item-type-custom menu-item-object-custom menu-item-118"><a href="https://www.facebook.com/bebraven" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.facebook.com/bebraven', 'Facebook');">Facebook</a></li>
<li id="menu-item-119" class="tw_fico menu-item menu-item-type-custom menu-item-object-custom menu-item-119"><a href="https://twitter.com/bebraven" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://twitter.com/bebraven', 'Twitter');">Twitter</a></li>
</ul></div></div>            
            <div class="clear"></div>
	
	</div><!-- #secondary -->

			<div class="braven-cc">
				<div class="footer_copyright">			<div class="textwidget">Braven is a 501 (c)(3) • ©2015 • <a href="/privacy">Privacy Policy</a> • <a href="/terms-of-use">Terms of Use</a> • 
made with<span class="heart" style="display: inline;"> <img style="display: inline;" src="/bebraven/images/2764.png" width="16" height="16" alt="❤" draggable="false" class="emoji"> </span>in America</div>
		</div>	
			</div><!-- .site-info -->
		</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/bebraven/jquery.mmenu.min.all.js"></script>
<script>
$(document).ready(function($) {
$('nav#menu').mmenu({
  navbar: {
    title: "Braven"
  }
  });
  
     var API = $("#menu").data( "mmenu" );

      $("#close-mobile-btn").click(function() {
         API.close();
      });
			});
	
</script>
    


