#compare-and-rank {
  margin-bottom: 15px;
  .selection-column {
    @extend .col-sm-4;
    @extend .text-center;
  }

  .small {
    @extend .glyphicon;
    @extend .glyphicon-file;
    font-size: 8em;
    cursor: hand;
    cursor: pointer;
  }

  .view-button {
    @extend .btn;
    @extend .btn-default;
    margin: 0.5em 0 0.8em 0;
  }

  .rating {
    @extend .center-block;
  }
}