<div id="donate-page">
  <div class="plank secondary-md light main-feature under-logo">
    <div class="section-container">
      <section>
        <div class="col-md-6">
          <div class="pinned-to-bottom">
            <h1>Donate to Beyond Z Today</h1>
            <p class="feature">Choose your support level below and help change the face of leadership across the country.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-md-7">
          <h1>Sponsor a cohort</h1>
          <p class="feature">Support 8-10 students in one of our regional sites as they develop their leadership skills through creating strong, diverse networks across their communities and build lasting relationships with each other and their leadership coaches.</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=ZRC3E6KLCRNTN">SPONSOR A STUDENT: $100</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=W4PUP5C9PQ4M2">SPONSOR A TEACHER: $500</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=45962G5UF7CJA">SPONSOR A COHORT: $4,000</a>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-md-8">
          <h1>Sponsor an activity</h1>
          <p class="feature">Support our students as they develop their leadership and realize their passions through the 21st century skills of Making, Coding, or Entrepreneurship in our varying pilots.</p>
        </div>
        <div class="col-md-4">
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=3EKLN4LR8465L">SPONSOR MAKING: $100</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=7J636C2H8RGD6">ENTREPRENEURSHIP: $300</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=XAKWDS6MBDVPQ">SPONSOR CODING: $500</a>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-md-8">
          <h1>Sponsor a region</h1>
          <p class="feature">Support our New York, Washington DC, or Bay Area students as they develop their leadership through being invested in their communities and inspiring others to do the same.</p>
        </div>
        <div class="col-md-4">
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=GEFU5WJLRFNLA">SPONSOR NEW YORK: $20,000</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=XNF5QTWWMMT4N">SPONSOR DC: $20,000</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=EVWLFEDY9UMJC">SPONSOR BAY AREA: $20,000</a>
        </div>
      </section>
    </div>
  </div>


  <div class="plank primary-lt">
    <div class="section-container text-center">
      <section>
        <div class="col-md-12">
          <p class="shoutout">Donate any amount to Beyond Z student leadership</p>
          <br />

          <div class="apply-button">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=YNCBC5RTQ2VXC"><div class="apply-icon"></div><div class="apply-text">DONATE NOW</div></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
