<div id="c-donate">
  <div class="plank plain-lt light under-logo">
    <div class="section-container">
      <section>
        <div class="col-md-12">
          <h1 style="color: #333;">Donate Now</h1>
        </div>
      </section>
      <section>


<div class="col-md-4 ">
  <h2>Sponsor a Cohort</h2>
  <div class="header"><img class="alignnone size-full wp-image-1277" alt="donate-placeholder" src="http://beyondz.wpengine.com/wp-content/uploads/2014/03/donate-placeholder.jpg" width="290" height="175" />Support 8-10 students in one of our regional sites as they develop their leadership skills through creating strong, diverse networks across their communities and build lasting relationships with each other and their leadership coaches.</div>
  <div class="footer"><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=ZRC3E6KLCRNTN">SPONSOR A STUDENT: $100</a><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=W4PUP5C9PQ4M2">SPONSOR A TEACHER: $500</a><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=45962G5UF7CJA">SPONSOR A COHORT: $4,000</a>
  </div>
</div>

<div class="col-md-4 ">
  <h2>Sponsor an Activity</h2>
  <div class="header"><img class="alignnone size-full wp-image-1277" alt="donate-placeholder" src="http://beyondz.wpengine.com/wp-content/uploads/2014/03/donate-placeholder.jpg" width="290" height="175" />Support our students as they develop their leadership and realize their passions through the 21st century skills of Making, Coding, or Entrepreneurship in our varying pilots.
  <div class="spacer" style="height: 50px;"></div>
  </div>
  <div class="footer"><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=3EKLN4LR8465L">SPONSOR MAKING: $100</a><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=7J636C2H8RGD6">ENTREPRENEURSHIP: $300</a><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=XAKWDS6MBDVPQ">SPONSOR CODING: $500</a></p>
  </div>
</div>

<div class="col-md-4 ">
  <h2>Sponsor a Region</h2>
  <div class="header"><img class="alignnone size-full wp-image-1277" alt="donate-placeholder" src="http://beyondz.wpengine.com/wp-content/uploads/2014/03/donate-placeholder.jpg" width="290" height="175" />Support our New York, Washington DC, or Bay Area students as they develop their leadership through being invested in their communities and inspiring others to do the same.
  <div class="spacer" style="height: 50px;"></div>
  </div>
  <div class="footer"><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=GEFU5WJLRFNLA">SPONSOR NEW YORK: $20,000</a><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=XNF5QTWWMMT4N">SPONSOR DC: $20,000</a><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=EVWLFEDY9UMJC">SPONSOR BAY AREA: $20,000</a></p>
  </div>
</div>
      </section>

      <section>
        <div class="col-md-12">
<p style="text-align: center;"><a class="btn btn-small b-color " href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&#038;hosted_button_id=YNCBC5RTQ2VXC">DONATE ANY AMOUNT TO BEYOND Z STUDENT LEADERSHIP</a></p>
        </div>
      </section>
    </div>
  </div>
</div>
