<div id="donate-page">
  <div class="plank secondary-md light light-lnk main-feature under-logo">
    <div class="section-container">
      <section>
        <div class="col-md-6">
          <div class="pinned-to-bottom">
            <h1><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YNCBC5RTQ2VXC">Donate to Beyond Z Today</a></h1>
            <p class="feature">Help us give these hard working, ambitious young people the skills to succeed. Invest today in tomorrow's leaders.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-md-8">
          <h1>Sponsor a student</h1>
          <p class="feature">Support a student as they develop the skills and mindsets needed to succeed.</p>
        </div>
        <div class="col-md-4">
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C5V8BPWN84BRN">SPONSOR A STUDENT: $50</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UWPVSMSJ9S67G">SPONSOR A STUDENT: $100</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8Y46YMQZVWJHC">SPONSOR A STUDENT: $200</a>
          <!--
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3EKLN4LR8465L">SPONSOR MAKING: $100</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7J636C2H8RGD6">ENTREPRENEURSHIP: $300</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XAKWDS6MBDVPQ">SPONSOR CODING: $500</a>
          -->
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-md-7">
          <h1>Sponsor a cohort</h1>
          <p class="feature">Support 5-6 students and their leadership coach as they develop their leadership skills by creating strong, diverse networks across their communities and building lasting relationships with one another and their leadership coaches.</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JSAFDSEX5CF4Q">SPONSOR A COHORT: $250</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MBLFY7LKDYNXG">SPONSOR A COHORT: $500</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZRC3E6KLCRNTN">SPONSOR A COHORT: $750</a>
          <!--
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=W4PUP5C9PQ4M2">SPONSOR A TEACHER: $500</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=45962G5UF7CJA">SPONSOR A COHORT: $4,000</a>
          -->
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-md-8">
          <h1>Sponsor a region</h1>
          <p class="feature">Support our New York City, Washington DC, or Bay Area students by investing in their communities and inspiring others to do the same.</p>
        </div>
        <div class="col-md-4">
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BGGY43N39A3CA">SPONSOR A REGION: $1,000</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YV4MJJRGQTRFA">SPONSOR A REGION: $2,500</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GEFU5WJLRFNLA">SPONSOR A REGION: $5,000</a>
          <!--
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XNF5QTWWMMT4N">SPONSOR DC: $20,000</a>
          <a class="donate-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EVWLFEDY9UMJC">SPONSOR BAY AREA: $20,000</a>
          -->
        </div>
      </section>
    </div>
  </div>


  <div class="plank primary-lt">
    <div class="section-container text-center">
      <section>
        <div class="col-md-12">
          <p class="shoutout">Donate at any level to discover and develop the next generation of leaders</p>
          <br />

          <div class="apply-button">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YNCBC5RTQ2VXC"><div class="apply-icon"></div><div class="apply-text">DONATE NOW</div></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
