<section>

  <div class="col-sm-12 big-picture">
    <%= image_tag("sign_up_anchor.jpg") %>
    <% if !user_signed_in? %>
      <div class="sign-up-button-container">
        <%= link_to image_tag("join_us.png").html_safe, new_enrollment_path %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12">
    <h2>
      Beyond Z Accelerator
    </h2>
  </div>
</section>
<section>
  <div class="col-sm-8">
    <p class="lead">
      Leaders Emerge From Everywhere
    </p>
    <p>
      The Beyond Z Accelerator discovers, develops, and connects diverse talent to ensure that our next generation of leaders can emerge from everywhere.
    </p>
  </div>
  <div class="col-sm-4">
    <blockquote>
      <p>
        "I'm moved to create a program that systematically identifies and develops diverse young people for career and life success. Working alongside their schools, families, and communities, Beyond Z will help to unleash our participants potential as they grow in their preparation for school, career, and life success."
      </p>
      <footer>Aimee Eubanks Davis, Founder</footer>
    </blockquote>
  </div>
</section>
<section>
  <div class="col-sm-12">
    <h2>
      Our Approach
    </h2>
  </div>
  <div class="col-sm-12">
    <%= image_tag 'bz_infographic.jpg', :class => 'bz-infographic' %>
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-default btn-lg">Explore our Model</button>
    </div>
  </div>
</section>

<hr />

<section>
  <div class="col-sm-12">
    <h2>
      Voices
    </h2>
  </div>
</section>
<section>
  <div class="video-box">
    <iframe width="400" height="225" src="//www.youtube.com/embed/lB6K60mkmho" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video-box">
    <iframe width="400" height="225" src="//www.youtube.com/embed/r9LelXa3U_I" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<section class="video-blurbs">
  <div class="blurb-box col-sm-offset-1">
    "Beyond Z introduced me into the real world and how things work outside of academics! My interviewing skills have definitely grown and developed through my time at BZ. The networking I have done has exceeded any other time of my life, I have met some incredible people and stayed in touch with many of them. My decision to enter the Education field has been reinforced through my time at BZ as well, and all the connections I have made have impacted the way in which I think of approaching certain matters!" - Martha Mendoza
  </div>
  <div class="blurb-box col-sm-offset-2">
    "Beyond Z had provided me with innumerable opportunities for personal and professional growth, but the Capstone project took our learning experiences beyond that of our own and empowered me to give back to my community. I really appreciated this opportunity, it was a great learning experience in regards to leadership for me as a project manager." - Kelly Hernandez
  </div>
</section>

<section>
  <div class="col-sm-12">
  <blockquote>
“All young people should be able to dream without boundaries. I am excited to be an inaugural partner with Beyond Z because they will give students in our district the experiences, networks, and relationships that will empower them to become leaders in our communities, our nation, and the world.”

<cite>Henderson, Chancellor, Washington D.C. Public Schools</cite>
</blockquote>

<blockquote>The Beyond Z curriculum and programming can help to level the playing field for under-represented populations lacking resources and human capital necessary to reach the highest levels of leadership.
<cite>Kaya</cite>
</blockquote>

<blockquote>
Students build confidence, develop their networks, and begin to believe that they are capable of becoming leaders.
<cite>Thomas Madsen, Principal at East Palo Alto Phoenix Academy</cite>
</blockquote>
  </div>
</section>

<section class="text-center">
  <div class="col-sm-12">
    <h1>Ready to Jumpstart your career and leadership path today?</h1>
    <%= link_to '<button type="button" class="btn btn-primary btn-lg">Sign Up</button>'.html_safe, new_enrollment_path %>
  </div>
</section>
