<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="11;url=http://bebraven.org/<%= @wp_path %>?bzredirect" />
<title>Beyond Z is now Braven</title>
<style>
body {
	background: #f26522;
	text-align: center;
	font: sans-serif;
	color:#fff;	
}
p {
	font-size: 1.5em;
}
a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
span {
	font-weight:bold;
}
</style>
</head>

<body onload="timer=setTimeout(function(){ window.location='http://bebraven.org/<%= @wp_path %>?bzredirect';}, 10000)">
<img src="/bz-logo-md_white-white.png" width="393" height="139" alt="Beyond Z" style="padding-bottom:30px;" /><br/>
<a href="http://bebraven.org/<%=@wp_path%>"><h1>Beyond Z is now Braven!</h1>
<p>You should be redirected to our new website <span>BeBraven.org</span> in a few seconds.</p>
<img src="/excited.gif" width="500" height="281" style="padding-top:30px; /><a href="http://bebraven.org/<%= @wp_path %>">
</body>
</html>
