<div class="plank plain-lt">
  <div class="section-container">
    <section>
      <div class="col-sm-12">
        <h1>Join the Beyond Z team!</h1>
        <p>We’re on a mission to ensure the next generation of global leaders emerges from everywhere.</p>
        <p>We are a small and tight-knit team, and we value competence, honesty, relentlessness, and a passion for equity and education. We are working hard to make truly transformational change, and we love working with people who get excited about taking on big challenges.</p>
        <p>If this sounds like you, we'd love to hear from you.</p>
      </div>
    </section>
  </div>
</div>

<div class="plank plain-md">
  <div class="section-container">
    <section>
      <div class="col-sm-12">
      <!--
        <h2>Open Positions</h2>
        <p>Download the job descriptions below.</p>
        <br/>
        <ul>
        </ul>
        <h2>Apply Now!</h2>
      -->
        <p>Please send a résumé to <%= link_to 'jobs@beyondz.org', 'mailto:jobs@beyondz.org', :target => "_blank" %>. Cover letters, Github profiles, and blog links are greatly appreciated!</p> 
        <p>Beyond Z is an equal opportunity employer committed to developing the skills and leadership of people from diverse backgrounds. We enthusiastically encourage diverse applicants to apply for this and all of our positions!</p>
      </div>
    </section>
  </div>
</div>
