<%= render 'signup_welcome' %>

<h1>Partner with Beyond Z</h1>
<h2>Leaders Emerge From Everywhere</h2>

<section>
  <p>Our country tracks test scores over time to predict how many prison cells we need. We track young athletic talent over time to develop the next group of Division 1 athletes.  This leads to the key question - <i>why aren’t we identifying and developing academic and leadership talent over time, creating a pipeline to careers for kids growing up in low-income communities?</i></p>

  <p>Beyond Z discovers, develops, and connects diverse talent from under-resourced communities so that our next generation of leaders can emerge from everywhere. </p>

  <p>We’d love to work with you to bring our vision to reality!</p>

  Learn more about partnering with Beyond Z
</section>

<section>
  <div class="col-md-4">
    <!-- image -->
    <h2>Employers:</h2>
    <p>We’ve found talented, diverse college students from all academic backgrounds who are ready to join your team for the summer of 2015. Sign up to learn about bringing on a Beyond Z participant as an intern.</p>
    <q>quote here</q>
  </div>
  <div class="col-md-4">
    <!-- image -->
    <h2>Educational institutions:</h2>
    <p>We currently work with middle school and college students in the Bay Area, Washington DC, and New York City. Sign up to learn about bringing Beyond Z to your school.</p>
    <q>quote here</q>
  </div>
  <div class="col-md-4">
    <!-- image -->
    <h2>Organizations:</h2>
    <p>We’ve partnered with NFTE, Tink, and other organizations to bring 21st century skills programming to our participants. Sign up to learn about implementing your program with Beyond Z’s students.</p>
    <q>quote here</q>
  </div>
</section>

<section>
  <div class="col-md-12">
    <%= image_tag("educational_photo.jpg") %>
  </div>
</section>
