<div class="plank tertiary-md">
  <div class="section-container">
    <section>
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2>Getting your <%= (current_user.applicant_type == 'temp_volunteer') ? 'registration form' : 'application' %> ready</h2>
        <p>Just a moment<span id="dots">...</span></p>
      </div>
    </section>
  </div>
</div>
<script>
  setInterval(function() {
    document.getElementById('dots').innerHTML += '.';
  }, 500);

  function check_please_wait_status() {
    $.get('<%= please_wait_status_path %>', function(data) {
      if(data.ready)
        location.href = data.path;
      else
        setTimeout(check_please_wait_status, 2500);
    });
  }

  setTimeout(check_please_wait_status, 2500);
</script>
