<%= render 'signup_welcome' %>

<section>
  <div class="col-md-6">
    <!-- FIXME: Replace this with an actual coach picture, just using me to fill the space until that asset is available -->
    <%= image_tag 'http://graph.facebook.com/adamdruppe/picture?type=large', alt: 'Picture of Student' %>
  </div>
  <div class="col-md-6">
    <h2>As a BZ leadership coach...</h2>
    <p>Here's a summary of the experience.</p>
    <p>All kinds of cool stuff will be a part of it and I can write a few words here to fill in the space just to see how this looks.</p>
  </div>
</section>
<section>
  <div class="open-application-notification">
    <p>You will be notified when applications are open.</p>
  </div>
</section>
<section>
  <div class="col-md-6">
    <h2>Responsibilities &amp; Impact</h2>

    <ul>
      <li>Teach important real world skills</li>
      <li>Networking to make professional contacts</li>
      <li>More material</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Selection Criteria &amp; Process</h2>
    <p>Here's some volunteer specific information.</p>
  </div>
</section>
