<h1>Assignment Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_submissions.each do |submission| %>
      <%# only take document uploads for now %>
      <% if submission.kind == 'file' && submission.file_type == 'document' %>
        <% if submission.files %>
          <tr>
            <td>Found file</td>
          </tr>
        <% else %>
          <tr>
            <td>Upload file</td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Submission', new_submission_path %>
