<h1>Assignment Submissions</h1>

<div style="float: left; width: 50%;">
Instructions: Please submit your assignment to the right.
</div>

<div style="float: left; width: 50%;">

  <% @submissions.each do |submission| %>
    <%# only take document uploads for now %>
    <% if submission.kind == 'file' && submission.file_type == 'document' %>   
      <% if submission.files.count > 0 %>
        <%= submission.submission.name %>
        <%= file["#{submissions[0].submission.file_type}_file_name"] %> - <%= submission.updated_at.strftime("%B %d, %Y") %>
      <% else %>
        <%= render partial: 'form', locals: {submission: submission} %>
      <% end %>
    <% end %>
  <% end %>

</div>


<%#= link_to 'New Submission', new_submission_path %>
