<div id="new-referral-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">

<h1>Thank You</h1>

<p class="lead">We'll reach out soon!</p>


        </div>
      </section>
    </div>
  </div>
</div>
