<div id="new-referral-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">

<h1>Refer Somebody to Braven</h1>

<p><a href="/referrals/new?type=fellow">Refer a Fellow</a></p>
<p><a href="/referrals/new?type=lc">Refer a Leadership Coach</a></p>


        </div>
      </section>
    </div>
  </div>
</div>
