<div id="new-user-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <%= render "form" %>
        </div>
      </section>
    </div>
  </div>
</div>