<h1>Welcome, <%= current_user.first_name %>!</h1>

<!-- instead of alert me when the app opens we'll have soem text placeholder
that says here's what the process is -->

<% if current_user.applicant_type == 'student' %>
  <section>
    <div class="col-md-6">
      <img src="http://graph.facebook.com/adamdruppe/picture?type=large" alt="Picture of Student" />
    </div>
    <div class="col-md-6">
      <h2>As a BZ fellow...</h2>

      <p>Here's a summary of the experience.</p>
    </div>
  </section>
  <section>
    <div class="col-md-6">
      <h2>Benefits of joining Beyond Z</h2>

      <ul>
        <li>Learn important real world skills</li>
        <li>Networking to make professional contacts</li>
        <li>More material</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Selection Criteria &amp; Process</h2>
      <p>Here's some student specific information.</p>
    </div>
  </section>
<% elsif current_user.applicant_type == 'college_faculty' || current_user.applicant_type == 'professional' %>
  <p>Here's some information that a volunteer (coach) would want to know.</p>
<% elsif current_user.applicant_type == 'supporter' %>
  <p>Here's info for supporters.</p>
<% else %>
  <!-- This covers the "Other?" field on the "are you a" form -->
  <p>We'll get in touch with you to see how we can best work together.</p>
<% end %>
