table.fields {
  border-collapse: separate;
  border-spacing: 6px;
  th {
    padding-right: 10px;
  }

  /* so the buttons go right in the cell next to the text */
  form {
    display: inline;
  }
}
