<div id="new-referral-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">

<h1>Thank You</h1>

<p>You are now confirmed and should have an email with information for your calendar.</p>

        </div>
      </section>
    </div>
  </div>
</div>
