<table width="700">
  <tr>
    <th>Campaign</th>
    <th>Form</th>
  </tr>
  <%
    @applications.each do |application|
  %>
    <tr>
      <td>
        <%= @campaign_names[application.associated_campaign] %>
      </td>
      <td>
        <%= form_for [:admin, application] do |f| %>
          <%= f.select(:form, @forms) %>
          <%= f.submit %>
        <% end %>
      </td>
    </tr>
  <%
    end
  %>
</table>
