/*
 * CSS rules that are common to the general application (non-admin)
 */

@import './base/style';


@import "./application/*";


// The header showing the logo
.program-header {
  img {
    width: 200px;
  }
}

.student-login {
  float: right;
  margin-right: 2em;
  padding-bottom: 3px;
  font-size: 75%;

  legend {
    font-size: 125%;
    margin-bottom: 3px;
    }

  label {
    display: block;
    > span {
      display: inline-block;
      width: 10em;
      text-align: right;
    }
  }
  .submit-holder {
    padding-left: 10em;
  }
}

// Top bar of links to resources like the submission instructions, summer internships opps, etc.
.program-resources-container {
  @extend .assignment-header; 
}

.program-resources {
//  @extend .col-sm-offset-4; 
}

.btn-resources {
  @extend .col-sm-4;
  @extend .btn;
  @extend .btn-primary;
}

// The intro section for the program page.
.program-intro {
  @extend .assignment-jumbotron;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  }

// Call to action to post to the group forum
.program-forum {
  @extend .assignment-col;
  text-align: center;
  }

// A table for meeting agendas
.meeting-agenda-table {
  @extend .table;
  @extend .table-bordered;
}

.in-iframe .hide-on-iframe {
  display: none;
}


h1, h2, h3, h4, h5, h6,
th {
  font-family: "TradeGothicNo.20-CondBold", "Oswald", "Open Sans", sans-serif;
  text-transform: uppercase;
  line-height: normal;
  font-weight: bold;
  font-weight: 700;
}

td, th {
  padding: 5px 10px 5px 0px;
  border-bottom: 1px solid #efefef;
}
