// Place all the styles related to the Coaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.coaching_dashboard {
  .task_name {
    font-weight: bold;
  }

  .approve_task {
    background-color: #00ff00;
  }

  .request_task_revisions {
    background-color: #ffff00;
  }

  .comments_holder {
    padding-left: 1em;
    padding-top: 1em;
  }

  .comment {
    width: 50%;
    border-bottom: solid 2px #ccc;
    padding: 0.25em;
    margin: 0.25em;

    .comment_by {
      font-size: 90%;
    }
  }
}
