// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "palette";

.comment {
  border-bottom: solid 2px $subtle_border;
  padding: 0px;
  margin: 0.25em;

  &.from-me {
    /* this is a comment that the logged-in user wrote */
  }

  &.from-other {
    /* this is a comment written by another user */
  }

  border: solid 1px $subtle_border;
  border-radius: 6px;

  .comment-by {
    font-size: 90%;
    border-bottom: solid 1px $subtle_border;
    padding: 0.25em;
  }

  .comment-speaker {
    font-weight: bold;
  }

  .comment-content {
    padding: 0.5em;
  }

  .attachment {
    padding: 5px;
    border-top: solid 1px #ccc;

    .icon {
      color: #aaa;
    }
  }
}

.comment-form-holder {
  
  textarea {
    text-align: left;
    width: 100%;
  }

  .post {
    text-align: right;
  }

  .attachment {

    #buttons {

      #attachment-button {
        margin-right: 2em;
        float: left;
      }

      #select-type {
        display: none;
        float: left;
      }
    }

    .document, .image {
      display: none;
      margin: 10px 0 0 10px;   

      .upload_symbol {
        font-size: 3em;
        float: left;
        width: 1.2em;
      }

      .upload_instructions {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
}
