// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  width: 50%;
  border-bottom: solid 2px #ccc;
  padding: 0.25em;
  margin: 0.25em;

  border: solid 1px #ccc;
  border-radius: 6px;

  .comment_by {
    font-size: 90%;
    border-bottom: solid 1px #f0f0f0;
  }

  .comment_speaker {
    font-weight: bold;
  }

  .comment_content {
    padding: 0.25em;
  }
}

