// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  width: 50%;
  border-bottom: solid 2px #ccc;
  padding: 0px;
  margin: 0.25em;

  &.from-me {
    background-color: #fefefe;
  }

  &.from-other {
    background-color: #f8fff8;
  }

  border: solid 1px #ccc;
  border-radius: 6px;

  .comment-by {
    font-size: 90%;
    border-bottom: solid 1px #f0f0f0;
    background-color: #fcfcfc;
    padding: 0.25em;
  }

  .comment-speaker {
    font-weight: bold;
  }

  .comment-content {
    padding: 0.5em;
  }
}

.comment-form-holder {
  width: 50%;
  text-align: right;
  textarea {
    text-align: left;
    width: 100%;
  }
}
