// Override bootstrap LESS/SASS variables up here, before importing it.

// import the CSS framework
@import "bootstrap";

// For site-wide styles, apply Bootstrap styles mixed with our
// own styles so that the HTML is framework neutral (e.g. we can move
// away from Bootstrap without changing all the HTML)

//#############
// BTODO: for now, all styles will go in this file.  As we get past the rough, initial site
// then organize the CSS into separate files for maintaince while still following DRY principles.
// Here is an intro for how to organize the SASS files: http://thesassway.com/beginner/how-to-structure-a-sass-project/
// But really, this post seems to really think everything through in better detail: http://gist.io/4436524
//#############

//////////////////////////////
//PRIMARY PALETTE
$bzorange: #f7a333;
$bzblue:   #43b5e9;

//SECONDARY PALETTE
$bzgreen:  #abd044;
$bzred:    #f37344;

//NEUTRAL PALETTE
$bzgrey1:  #e2e1dd;
$bzgrey2:  #d6d6d4;
$bzgrey3:  #cacac8;
$bzgrey4:  #bdbdbd;
$bzgrey5:  #b3b3b3;
$bzgrey6:  #afafaf;
$bzgrey7:  #9a9b9d;
$bzgrey8:  #8c8d8e;
$bzgrey9:  #747679;
$bzgrey10: #616265;
$bzgrey11: #4d4e53;
/////////////////////////////

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

main {
  @extend .container;
  background-color: $bzgrey1;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;
  }
  
// override for the 'Beyond Z' navigation link
.navbar-brand {
  font-size: inherit;
  }

.navbar-inverse {
    border-color: $bzorange; 
  }

.navbar-fixed-top {
  border-width: 0 0 2px; 
  }

// Change the navbar link text color
//.navbar-inverse .navbar-brand {
//  color: $bzblue;
//  } 


// Make all form submit buttons based off the following Bootstrap styles
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// The general panel for assignments.
.assign-panel {
  @extend .col-sm-12;
  @extend .well;
  background-color: $bzgrey2;
  }
  
// The intro section for assignments.
.assign-intro {
  @extend .jumbotron;
  @extend .assign-panel; 
  }
  
// The summary panel for assignments.
.assign-summary {
  @extend .assign-panel; 
  }
