// Override bootstrap LESS/SASS variables up here, before importing it.

// import the CSS framework
@import "bootstrap";

// For site-wide styles, apply Bootstrap styles mixed with our
// own styles so that the HTML is framework neutral (e.g. we can move
// away from Bootstrap without changing all the HTML)

//#############
// BTODO: for now, all styles will go in this file.  As we get past the rough, initial site
// then organize the CSS into separate files for maintaince while still following DRY principles.
// Here is an intro for how to organize the SASS files: http://thesassway.com/beginner/how-to-structure-a-sass-project/
// But really, this post seems to really think everything through in better detail: http://gist.io/4436524
//#############

//////////////////////////////
//PRIMARY PALETTE
$bzorange: #f7a333;
$bzblue:   #43b5e9;

//SECONDARY PALETTE
$bzgreen:  #abd044;
$bzred:    #f37344;

//NEUTRAL PALETTE (light to dark)
$bzgrey1:  #e2e1dd;
$bzgrey2:  #d6d6d4;
$bzgrey3:  #cacac8;
$bzgrey4:  #bdbdbd;
$bzgrey5:  #b3b3b3;
$bzgrey6:  #afafaf;
$bzgrey7:  #9a9b9d;
$bzgrey8:  #8c8d8e;
$bzgrey9:  #747679;
$bzgrey10: #616265;
$bzgrey11: #4d4e53;

// list:f7a333, 43b5e9, abd044, f37344, e2e1dd, d6d6d4, cacac8, bdbdbd, b3b3b3, afafaf, 9a9b9d, 8c8d8e,747679,616265,4d4e53 
/////////////////////////////


//-----------------------------------------
// base styles
//-----------------------------------------

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

main {
  @extend .container-fluid;
  background-color: white;
  width: 100%;
  }

section {
  @extend .row-fluid;
  margin-top: 20px;
  }

// Make all form submit buttons based off the following Bootstrap styles
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
 
//-----------------------------------------
// Bootstrap overrides
//-----------------------------------------
 
.list-group-item {
  background-color: transparent;
  }

.btn-warning {
  @include button-variant(white, $bzorange, $bzgrey6);
  }

//-----------------------------------------
// Beyond Z styles
//-----------------------------------------

// The general panel for assignments.
.assign-col {
  @extend .col-sm-12;
  }
  
// The header row for assignments
.assign-header {
  @extend .assign-col;
  background-color: $bzgrey11;
  color: white;
  }

// An emphasized section for assignments
.assign-jumbotron {
  @extend .col-sm-10;
  @extend .col-sm-offset-1;
  @extend .jumbotron;
  background-color: $bzblue;
  color: white;
  } 

//-----------------------------------------
// Styles for the college program main page
//-----------------------------------------

// The header showing the logo
.program-header {
  border-bottom: 10px solid $bzgrey11;
  img {
    width: 200px;
    }
  }

// The intro section for the program page.
.program-intro {
  @extend .assign-jumbotron;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  }

// Call to action to post to the group forum
.program-forum {
  @extend .assign-col;
  text-align: center;
  }

// The summary panel for assignments.
.assign-summary {
  @extend .assign-col;
  h2 {
    @extend .assign-header; 
    margin-bottom: 0px;
    } 
  }

.assign-summary-practice {
  @extend .col-sm-8;
  background-color: $bzgrey4;
  h3 {
     color: white;
     }
  }

.assign-summary-checklist {
  @extend .col-sm-4;
  color: $bzorange;
  }

.assign-summary-buttons {
  @extend .assign-col;
  }

.btn-assign {
  @extend .col-sm-2;
  @extend .btn;
  @extend .btn-warning;
  }

.btn-assign-left {
  @extend .btn-assign;
  @extend .col-sm-offset-2;
  margin-right: 2px;
  }

.btn-assign-right {
  @extend .btn-assign;
  margin-left: 2px;
  }


//------------------------------------------
// Styles for the assignment details pages.
//-----------------------------------------

// Container for the whole details page.
.assign-details-container {
  @extend .assign-col;
  h2 {
    @extend .assign-header; 
    }
  }

.assign-lead {
  color: $bzorange;
  font-size: 120%;
  } 

.assign-details-summary {
  @extend .assign-col;
  @extend .lead;
  }

.assign-details-resources {
  @extend .assign-jumbotron;
  padding: 0px;
  h3 {
    text-align: center;
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    margin: 5px 0px;
    }
  a {
    color: $bzgrey1;
    text-decoration: none;
    }
  a:hover, a:focus {
    color: $bzgrey3;
    text-decoration: underline;
    }
  }

.assign-details-body {
  @extend .assign-col;
} 

//------------------------------------------
// Styles for the footer
//-----------------------------------------
.footer {
  text-align: center;
  } 
