// Override bootstrap LESS/SASS variables up here, before importing it.

// Customize the primary, warning, and danger colors here to be our own.  E.g.
//$brand-primary: $bzblue;
//$brand-warning: $bzorange;

$font-size-base: 14px;
$font-size-large: ceil($font-size-base * 1.25); // ~18px
$font-size-small: ceil($font-size-base * 0.85); // ~12px

$font-size-h1: floor($font-size-base * 2.15); // ~30px
$font-size-h2: ceil($font-size-base * 1.7); // ~24px 
$font-size-h3: ceil($font-size-base * 1.25); // ~18px
$font-size-h4: $font-size-base;
$font-size-h5: ceil($font-size-base * .85); // ~12px

// import the CSS framework
@import "bootstrap";

// For site-wide styles, apply Bootstrap styles mixed with our
// own styles so that the HTML is framework neutral (e.g. we can move
// away from Bootstrap without changing all the HTML)

//#############
// BTODO: for now, all styles will go in this file.  As we get past the rough, initial site
// then organize the CSS into separate files for maintaince while still following DRY principles.
// Here is an intro for how to organize the SASS files: http://thesassway.com/beginner/how-to-structure-a-sass-project/
// But really, this post seems to really think everything through in better detail: http://gist.io/4436524
//#############

//////////////////////////////
//PRIMARY PALETTE
$bzorange: #f7a333;
$bzblue:   #43b5e9;

//SECONDARY PALETTE
$bzgreen:  #abd044;
$bzred:    #f37344;

//NEUTRAL PALETTE (light to dark)
$bzgrey1:  #e2e1dd;
$bzgrey2:  #d6d6d4;
$bzgrey3:  #cacac8;
$bzgrey4:  #bdbdbd;
$bzgrey5:  #b3b3b3;
$bzgrey6:  #afafaf;
$bzgrey7:  #9a9b9d;
$bzgrey8:  #8c8d8e;
$bzgrey9:  #747679;
$bzgrey10: #616265;
$bzgrey11: #4d4e53;

// list:f7a333, 43b5e9, abd044, f37344, e2e1dd, d6d6d4, cacac8, bdbdbd, b3b3b3, afafaf, 9a9b9d, 8c8d8e,747679,616265,4d4e53 
/////////////////////////////

$greyBackground: $bzgrey11;

//-----------------------------------------
// base styles
//-----------------------------------------

html, body {
  height: 100%;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

main {
  @extend .container-fluid;
  background-color: white;
  width: 100%;
  }

section {
  @extend .row-fluid;
  margin-top: 20px;
  }

// Make all form submit buttons based off the following Bootstrap styles
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
 
//-----------------------------------------
// Bootstrap overrides
//-----------------------------------------

.container-fluid {
  padding: 0px;
  }

.list-group-item {
  background-color: transparent;
  }

.btn-primary {
  @include button-variant($bzblue, $greyBackground, $bzgrey10);
  }

.btn-warning {
  @include button-variant(white, $bzorange, $bzgrey6);
  }

.lead {
  font-size: $font-size-large;
  }

// Jumbotron is too big, we're not selling anything.  Reduce it down a bit...
.jumbotron {
  padding: .3em 1em; 
  h1 { 
    font-size: 2.3em; 
    }
  p {
    font-size: 1.3em;
    }
  }

//-----------------------------------------
// Beyond Z styles
//-----------------------------------------


// Text indicating the type of session for the week, peer led vs coach led.
.session-type {
  font-style: italic;
  color: $bzblue;
  }

// The general panel for assignments.
.assign-col {
  @extend .col-sm-12;
  }
  
// The header row for assignments
.assign-header {
  @extend .assign-col;
  background-color: $greyBackground;
  color: white;
  }

// Lead text for assignments
.assign-text-lead {
  color: $bzorange;
  font-size: 110%;
  } 

// An emphasized section for assignments
.assign-jumbotron {
  @extend .col-sm-10;
  @extend .col-sm-offset-1;
  @extend .jumbotron;
  background-color: $bzblue;
  color: $bzgrey11;
  h1, h2, h3 {
     color: white;
    }
  } 

//-----------------------------------------
// Styles for the college program main page
//-----------------------------------------

// The header showing the logo
.program-header {
  img {
    width: 200px;
    }
  }

// Top bar of links to resources like the submission instructions, summer internships opps, etc.
.program-resources-container {
  @extend .assign-header; 
}

.program-resources {
//  @extend .col-sm-offset-4; 
}

.btn-resources {
  @extend .col-sm-4;
  @extend .btn;
  @extend .btn-primary;
  }

// The intro section for the program page.
.program-intro {
  @extend .assign-jumbotron;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  }

// Call to action to post to the group forum
.program-forum {
  @extend .assign-col;
  text-align: center;
  }

// The summary panel for assignments.
.assign-summary {
  @extend .assign-col;
  h2 {
    @extend .assign-header; 
    margin-bottom: 0px;
    } 
  }

.assign-summary-practice {
  @extend .col-sm-8;
  background-color: $bzgrey4;
  h3 {
     color: white;
     }
  }

.assign-summary-checklist {
  @extend .col-sm-4;
  color: $bzorange;
  h3 {
    color: black;
    }
  a {
    color: $bzorange;
    text-decoration: underline;
    }
  a:hover, a:focus {
    color: darken($bzorange, 15%);
    text-decoration: underline;
    }
}

.assign-summary-buttons {
  @extend .assign-col;
  }

.btn-assign {
  @extend .col-sm-2;
  @extend .btn;
  @extend .btn-warning;
  }

.btn-assign-left {
  @extend .btn-assign;
  @extend .col-sm-offset-2;
  margin-right: 2px;
  }

.btn-assign-right {
  @extend .btn-assign;
  margin-left: 2px;
  }

//------------------------------------------
// Styles for the assignment submission pages.
//-----------------------------------------
.btn-assign-submit {
   @extend .btn-assign;
   margin: 10px 0px;
   }


//------------------------------------------
// Styles for the assignment details pages.
//-----------------------------------------

// Container for the whole details page.
.assign-details-container {
  @extend .assign-col;
  h2 {
    @extend .assign-header; 
    margin-bottom: 0px;
    }
  }

// The main section for assignment details.
.assign-details-main {
  @extend .col-sm-10;
}

// The sidebar containing assignment resources.
.assign-details-sidebar {
  @extend .col-sm-2;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 10px;
  
  // BTODO: not able to get the column to stretch and match the height of the main div.
  //background-color: $greyBackground;
  //min-height: 100%;
}

.assign-details-summary {
  @extend .assign-col;
  @extend .lead;
  margin: 0px;
  }

.assign-details-jumbotron {
  @extend .assign-jumbotron;
  padding: 0px;
  h3 {
    text-align: center;
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    margin: 5px 0px;
    }
  a {
    color: white;
    text-decoration: none;
    }
  a:hover, a:focus {
    color: $bzgrey1;
    text-decoration: underline;
    }
  }

.assign-details-articles {
  @extend .assign-details-jumbotron;
  }

.assign-details-homework {
  @extend .assign-details-jumbotron;
  p {
    padding: 0px 15px 0px;
    }
  }

.assign-details-body {
  @extend .assign-col;
  } 

.assign-details-buttons {
  @extend .col-sm-12;
  padding-left: 0px;
  padding-right: 0px;
  }

.btn-assign-details {
  @extend .col-sm-12;
  @extend .btn;
  @extend .btn-warning;
  @extend .pull-right;
  margin-bottom: 10px;
  }

.assign-details-half-screen {
  @extend .col-sm-6;
  }

//------------------------------------------
// Styles for the footer
//-----------------------------------------
.footer {
  text-align: center;
  } 
