@import 'application';

hr {
  margin-top: 0px;
}

body.sso_discovery {
  background-color: #9ad7d7;
}

#sso_discovery {

  font-size: 16px;

  .login-link {
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }

  .choose-your-university {
    /*display: flex;*/
  }

  .choose-your-role a {
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 10em;
    height: 10em;
    font-size: 18px;
    background-color: white;
    text-transform: uppercase;
    padding: 1em;
    text-align: left;
    margin-right: 1em;

    div {
      color: #9ad7d7;
    }
  }

  margin: 1em 2em;
  text-align: center;

  h2 {
    font-size: 100%;
    text-transform: none;
  }

  a.university {
    color: #666;
    display: inline-block;
    margin: 1em;
    box-sizing: border-box;
    text-align: center;

    vertical-align: top;
    position: relative;
    width: 10em;

    div {
      padding: 1em;
      line-height: 4em; /* (height - vertical padding) / 2 */
      background-color: white;
      height: 10em;
    }

    span {
      display: block;
      line-height: 1.5;
      color: black;
      font-weight: bold;
    }

    img {
      vertical-align: middle;
      display: inline;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media(max-width: 640px) {
  #sso_discovery {
    a {
      width: 6em;
      height: 6em;
      line-height: 2em; /* height - vertical padding */
      margin: 0.5em;
    }
  }
}

@media(min-width: 640px) and (max-width: 800px) {
  #sso_discovery {
    a {
      width: 8em;
      height: 8em;
      line-height: 3em; /* height - vertical padding */
      margin: 0.5em;
    }
  }
}
