//////////////////////////////
//PRIMARY PALETTE
$bzorange: #f7a333;
$bzblue:   #43b5e9;

//SECONDARY PALETTE
$bzgreen:  #abd044;
$bzred:    #f37344;

//NEUTRAL PALETTE (light to dark)
$bzgrey1:  #e2e1dd;
$bzgrey2:  #d6d6d4;
$bzgrey3:  #cacac8;
$bzgrey4:  #bdbdbd;
$bzgrey5:  #b3b3b3;
$bzgrey6:  #afafaf;
$bzgrey7:  #9a9b9d;
$bzgrey8:  #8c8d8e;
$bzgrey9:  #747679;
$bzgrey10: #616265;
$bzgrey11: #4d4e53;

// list:f7a333, 43b5e9, abd044, f37344, e2e1dd, d6d6d4, cacac8, bdbdbd, b3b3b3, afafaf, 9a9b9d, 8c8d8e,747679,616265,4d4e53 
/////////////////////////////

$greyBackground: $bzgrey11;

