/*
 * CSS rules that are common to the public areas of the site
 */

@import './base/style';

@import "./public/*";


// Index (home) page styles
#home-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('home_top_feature.jpg'));
      background-position: top right;
    }

    .video-quote {
      margin-top: 3em;
      width: 33%;

      @media (max-width: $screen-sm-min) {
        margin-top: 1em;
        width: 66%;
      }
    }
  }

  .for-students {
    @extend .col-img-left;
    background-position: center center;
    background-image: url(image_path('for_students.jpg'));

    @media (min-width: $screen-lg-min) {
      height: 398px;
    }
  }

  .for-volunteers {
    @extend .col-img-right;
    background-position: center center;
    background-image: url(image_path('for_volunteers.jpg'));

    @media (min-width: $screen-lg-min) {
      height: 398px;
    }
  }

  .infographic-column {
    @extend .col-sm-4;
    @extend .text-center;

    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }

    .discover-icon, .develop-icon, .connect-icon {
      height: 200px;
      width: 200px;
      display: inline-block;
    }

    .discover-icon {
      background: url(image_path('bz_icons.svg')) 0 -1050px;
    }

    .develop-icon {
      background: url(image_path('bz_icons.svg')) 0 -840px;
    }

    .connect-icon {
      background: url(image_path('bz_icons.svg')) 0 -1680px;
    }
  }
}

// Apply page styles
#apply-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('apply_top_feature.jpg'));
      background-position: top right;
    }

    blockquote {
      margin-top: 3em;
      width: 40%;

      @media screen and (max-width: $screen-sm-min) {
        margin-top: 1em;
        width: 66%;
      }

      border: none;
      font-style: normal;

      footer {
        color: inherit;
        &::before { content: ''; }
      }
    }
  }

  .open-application-notification {
    @extend .alert;
    @extend .alert-info;
  }

  ul {
    padding-left: 1em;
  }

  .timeline {
    text-align: center;
    dt {
      margin-top: 1em;
      font-weight: bold;
    }

    dd {
      font-style: italic;
    }
  }

  .what-to-expect-image {
    @extend .col-img-left;

    background-image: url(image_path('what_to_expect.jpg'));

    @media (min-width: $screen-lg-min) {
      height: 430px;
    }
  }

  .who-can-apply-image-col {
    visibility: visible;
    @media (min-width: $screen-md-min) {
      visibility: hidden;
    }
  }

  .who-can-apply-image-section-container {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $screen-md-min) {
      background-image: url(image_path('who_can_apply.jpg'));
    }
  }
}

// Volunteer page styles
#volunteer-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('group_blue.jpg'));
      background-position: top right;
    }

    .shoutout {
      padding-top: 200px;

      @media (max-width: $screen-sm-min) {
        padding-top: 0px;
      }
    }
  }

  .large-icon-rocket {
    @extend .large-icon;
    background-position: 0px -1470px;
  }
  .large-icon-puzzle {
    @extend .large-icon;
    background-position: 0px -630px;
  }
  .large-icon-wand {
    @extend .large-icon;
    background-position: 0px -1260px;
  }
}

// Partner page styles
#partner-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('partners_blue.jpg'));
      background-position: top right;

      h1 {
        margin-top: 300px;
      }
    }
  }

  .large-icon-briefcase {
    @extend .large-icon;
    background-position: 0px -420px;
  }
  .large-icon-cap {
    @extend .large-icon;
    background-position: 0px -0px;
  }
  .large-icon-building {
    @extend .large-icon;
    background-position: 0px -210px;
  }
}

// User/signup form styles
#new-user-page {
  .form-option-details {
    display: none;
    padding-left: 1em;

    > section {
      margin-bottom: 15px;
      margin-left: 0px;
    }
  }

  /* We want regular options to appear dark */
  option {
    color: $knockout-dk;
  }

  /* But invalid options (blank ones on this form) to be greyed out,
     so they look like the placeholder that they are */
  option[value=''] {
    color: $knockout-lt;
  }

  /* Also needs to be applicable to the outer <select> tag */
  .placeholder-style {
    color: $knockout-lt;
  }

  #sign-up-form {
    #other_type {
      width: 20em;
      display: inline-block;
    }
  }

  .clickable-option {
    white-space: nowrap; /* want the label on the same line as the button */

    > * {
      /* but all sub elements can wrap as needed... */
      white-space: normal;
      /* ...as long as they are at the top */
      vertical-align: top;
    }
  }

  .clickable-option.with-text-field {
    > .form-control {
      /* We want these to appear inline without hogging too much space */
      max-width: 50%;
      display: inline-block;
    }

    > input[type=checkbox],
    > input[type=radio] {
      /* the button should be with the text... */
      vertical-align: baseline;
    }

    > * {
      /* And the text field should all be nice and vertically centered */
      vertical-align: middle;
    }
  }
}

#donate-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('donate_photo.jpg'));
      background-position: top right;
    }

    .pinned-to-bottom {
      position: absolute;
      bottom: 6em;
    }
  }

  .donate-button {
    display: block;
    color: $cta;
    margin: 2em 0px;
    font-weight: bold;

    &::before {
      content: '\a0';
      @extend .sign-up-icon;
    }
  }
}

.form-group .form-group .clickable-option,
.form-group .form-group input[type=text] {
  margin: 5px 0;
}

.required-block {
  position: relative;
}

.required-block::after {
  position: absolute;
  right: -0.1em;
  top: 2px;
}

.required::after {
  content: "*";
  color: red;
}

.form-control {
  height: 45px;
}

form .invalid-message {
  display: none;
}

form.submitted-invalid .invalid-message {
  display: block;
}

.submitted-invalid :required:invalid {
  background-color: #ffcccc;
}

.submitted-invalid input[type=checkbox]:required:invalid,
.submitted-invalid input[type=radio]:required:invalid {
  background-color: red;
}

#new-champion-page {
  ul {
    list-style: initial;
  }
  input[type="submit"] {
    font-family: TradeGothic, Oswald, sans-serif;
    font-weight: 100;
    background: #DB2B36;
    padding: 5px;
    border-radius: 0;
    margin: 5px;
    text-transform: uppercase;
  }
  input[type="submit"]:hover {
    background: #000;
  }
  input[type="text"] {
    padding: 3px;
  }
}

.champion-flow-survey {

  br {
    margin-bottom: 0.5em;
  }

  textarea {
    width: 350px;
    height: 100px;
  }

  .subquestion {
    padding-left: 2em;
    margin-left: 2em;
    border-left: solid 2px #ccc;
    display: none;
  }

  :checked ~ .subquestion {
    display: block;
  }

  .button-primary {
    margin-top: 1em;
  }
}

.breadcrumbs {
  
  font-family: TradeGothic, Oswald, sans-serif;
  font-weight: 100;
  text-transform: uppercase;

  span {
    display: block;
  }

  .current {
    color: #DB2B36;
  } 

  .completed {
    color: green;
  }

  .completed::after {
    content: '\2714 \00a0';
    color: green;
    margin-left: 0.5em;
  }

  color: $knockout-lt;
  text-transform: uppercase;
  font-size: 120%;
}

.more-info {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ccc;
  color: #FFF !important;
  border-radius: 25px;
  text-align: center;
  font-size: 15px;
  padding: 0;
  margin: 0 0 0 1em;
  line-height: 1.5;
  font-weight: bold;
}

.more-info:hover {
  background: #0071bc;
}

.carousel-item {
  margin-left: 0;
}

.plain-link {
  color: #0071bc !important;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

#new_referral fieldset {
	border: none;
}

#new_referral legend {
	font-size: 1.5rem;
}
