/*
 * CSS rules that are common to the public areas of the site
 */

@import './base/style';

@import "./public/*";


// Index (home) page styles
#home-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('home_top_feature.jpg'));
      background-position: top right;
    }

    .video-quote {
      margin-top: 3em;
      width: 33%;
    }
  }

  .for-students {
    @extend .col-img-left;
    background-position: center center;
    background-image: url(image_path('for_students.jpg'));

    @media (min-width: $screen-lg-min) {
      height: 398px;
    }
  }

  .for-volunteers {
    @extend .col-img-right;
    background-position: center center;
    background-image: url(image_path('for_volunteers.jpg'));

    @media (min-width: $screen-lg-min) {
      height: 398px;
    }
  }

  .infographic-column {
    @extend .col-sm-4;
    @extend .text-center;

    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }

    .discover-icon, .develop-icon, .connect-icon {
      height: 200px;
      width: 200px;
      display: inline-block;
    }

    .discover-icon {
      background: url(image_path('bz_icons.svg')) 0 -1050px;
    }

    .develop-icon {
      background: url(image_path('bz_icons.svg')) 0 -840px;
    }

    .connect-icon {
      background: url(image_path('bz_icons.svg')) 0 -1680px;
    }
  }
}

// Apply page styles
#apply-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('apply_top_feature.jpg'));
      background-position: top right;
    }

    blockquote {
      margin-top: 3em;
      width: 40%;
      border: none;
      font-style: normal;

      footer {
        color: inherit;
        &::before { content: ''; }
      }
    }
  }

  .open-application-notification {
    @extend .alert;
    @extend .alert-info;
  }

  ul {
    padding-left: 1em;
  }

  .timeline {
    text-align: center;
    dt {
      margin-top: 1em;
      font-weight: bold;
    }

    dd {
      font-style: italic;
    }
  }

  .what-to-expect-image {
    @extend .col-img-left;

    background-image: url(image_path('what_to_expect.jpg'));

    @media (min-width: $screen-lg-min) {
      height: 430px;
    }
  }

  .who-can-apply-image-col {
    visibility: visible;
    @media (min-width: $screen-md-min) {
      visibility: hidden;
    }
  }

  .who-can-apply-image-section-container {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
    
    @media (min-width: $screen-md-min) {
      background-image: url(image_path('who_can_apply.jpg'));
    }
  }
}

// Volunteer page styles
#volunteer-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('group_blue.jpg'));
      background-position: top right;
    }
  }

  .large-icon-rocket {
    @extend .large-icon;
    background-position: 0px -1470px;
  }
  .large-icon-puzzle {
    @extend .large-icon;
    background-position: 0px -630px;
  }
  .large-icon-wand {
    @extend .large-icon;
    background-position: 0px -1260px;
  }
}

// Partner page styles
#partner-page {
  .main-feature {
    .section-container {
      background-image: url(image_path('partners_blue.jpg'));
      background-position: top right;

      h1 {
        margin-top: 300px;
      }
    }
  }

  .large-icon-briefcase {
    @extend .large-icon;
    background-position: 0px -420px;
  }
  .large-icon-cap {
    @extend .large-icon;
    background-position: 0px -0px;
  }
  .large-icon-building {
    @extend .large-icon;
    background-position: 0px -210px;
  }
}

// User/signup form styles
#new-user-page {
  .form-option-details {
    display: none;
    padding-left: 2em;
  }

  #sign-up-form {
    #other_type {
      width: 20em;
      display: inline-block;
    }
  }
}