// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#submissions_instructions
{
	float: left;
	width: 47%;
	padding: 10px;
  background-color: #43B5E9;
  color: #4D4E53;
}

#submissions_list
{
	float: right;
	width: 50%;

	#submissions_table
	{
		width: 100%;

		th, td
		{
			padding: 5px;
		}

		th
		{
			background-color: #ddd;
		}

		td
		{
			background-color: #eee;
		}
	}

	form
	{
		.submission_file
		{
			.submission_name
			{
				float: left;
			}

			.submission_file_field
			{
				float: left;
				margin-left: 15px;
			}
		}
	}
}