<h1>Bulk Student Registration Upload</h1>

<p>This will let you set student course sections in bulk in Salesforce.  You still need to Sync to LMS on SF for them to get into Canvas.</p>
<p>All columns in the spreadsheet are ignored except <em>Email</em>, <em>Received Code (Y/N)?</em>, <em>Enrolled in Class?</em>, and <em>Course section (day/time)</em>.  The rest of the columns are there just to make it easy to use the existing roster to do the upload.  To start creating a spreadsheet from scratch, go into Salesforce and run the <a href="https://na17.salesforce.com/00Oo0000004WwRu">StudentRecruitmentData_forBulkUpload</a> report and export it to Excel. Then add the missing columns and populate the <em>Received Code (Y/N)?</em> and <em>Enrolled in Class?</em> columns for the students you're interested in updating.  Finally, set their <em>Course section (day/time)</em> values appropriately before uploading.</p>
<p><b>Note:</b> This was implemented so we could do this for SJSU after the registrar confirmed
 their participation in the program.  It was before we had the self-service confirmation flow.
 It was designed to be used with a specific spreadsheet that Abby was using to manage the roster.
 Here is an example of how to create that <a href="https://docs.google.com/spreadsheets/d/1K5JkmeQK1K2Gtkw5sNhY0AILNMRxfP6pSXNgZFAb7V8/edit">that sheet</a>
 If we want to turn this into a process that anyone could use, we would need to do a little work to generalize it.</p>

<table class="sample-csv" width="600"><caption>Expected format</caption>
  <thead><tr>
    <th>Last Name</th><th>First Name</th><th>Anticipated Graduation</th><th>Candidate Status</th><th>Member First Associated Date</th><th>Member Status Update Date</th><th>Email</th><th>Phone</th><th>Student Id</th><th>Registration Code</th><th>Received Code (Y/N)?</th><th>Enrolled in Class?</th><th>Updated in SF?</th><th>Course section (day/time)</th>
  </tr></thead>

  <tbody>
    <tr>
      <td>Alamoudi</td><td>Mohammed</td><td>2018</td><td>Accepted</td><td>5/14/2015</td><td>6/14/2015</td><td>msm-14@hotmail.com</td><td>619-573-8203</td><td>10029916</td><td></td><td>Y</td><td></td><td></td><td></td>
    </tr><tr>
      <td>Alvarez</td><td>Yoselina</td><td>2017</td><td>Accepted</td><td>5/18/2015</td><td>6/14/2015</td><td>alvarez.y.2013@gmail.com</td><td>4089069847</td><td>8873228</td><td></td><td>Y</td><td>Y</td><td>Y</td><td>Monday 3:00</td>
    </tr>
  </tbody>
</table>

<p>In that example file, the second one would be imported because the "Enrolled in Class" is set to Y. The section name in LMS would be Monday 3:00. The first row would NOT be imported because while the code is received, he is not enrolled in the class.</p>

<p><strong>Important:</strong> the Y/N fields must be capitalized Y or capitalized N. Do not use lowercase y/n, do not use 'yes' or any other variant. Just use Y.</p>

<%= form_for :import, :html => { :multipart => true } do |f| %>
  <%= f.file_field :csv %>
  <%= submit_tag 'Upload CSV' %>
<% end %>
