<h1>Lead Owner Mapping</h1>

<p>This mapping sets lead relationship owner for new sign ups based on the fields they enter.</p>

<p>University name is set on university partners and undergrad students. BZ region is set on employers and coaches. Thus, you should only use one or the other field.</p>

<p>For example, a Leadership Coach should have a blank university name. Only the region column should be filled. By contrast, a student should have a blank BZ Region, with a university name filled instead.</p>

<p>Make sure you check the form for the spelling of the fields, as they need to match exactly.</p>

<table class="sample-csv" width="600"><caption>Expected format</caption>
  <thead><tr>
      <th>Lead_owner</th><th>Applicant type</th><th>University Name</th><th>BZ Region</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>brian@bebraven.org</td><td>leadership_coach</td><td></td><td>San Francisco Bay Area, East Bay</td>
    </tr>
    <tr>
      <td>brian@bebraven.org</td><td>event_volunteer</td><td></td><td>San Francisco Bay Area, East Bay</td>
    </tr>
    <tr>
      <td>brian@bebraven.org</td><td>undergrad_student</td><td>City College of New York</td><td></td>
    </tr>
    <tr>
      <td>brian@bebraven.org</td><td>preaccelerator_student</td><td>City College of New York</td><td></td>
    </tr>
    <tr>
      <td>brian@bebraven.org</td><td>other</td><td></td><td></td>
    </tr>
  </tbody>
</table>

<p>You may enter 'other' in the university name or BZ region columns to match anything that isn't on those lists in the signup form.</p>

<p style="margin: 2em;"><b>Important note:</b> uploading a spreadsheet will delete all current mappings and replace them with what's in the sheet. Be sure that your upload includes ALL the mappings you want kept.</p>

<%= form_for :import, :html => { :multipart => true } do |f| %>
  <%= f.file_field :csv %>
  <%= submit_tag 'Upload CSV' %>
<% end %>
