.feedback-button {
  position: fixed;
  z-index: 99;
  color: white;
  background-color: #43b5e9;
  border: solid 2px #444444;
  border-bottom: 0px;
  border-radius: 6px 6px 0px 0px;
  padding: 3px 8px;
  font-weight: bold;
  text-decoration: none;
  right: 40px;
  bottom: 0px;

  &:hover {
    text-decoration: none;
    color: #eee;
  }
}

