// See: https://www.dropbox.com/s/hzy0mt1jeh4ns4t/bz-colors-02.pdf
//PRIMARY PALETTE
$primary-lt:  #EB3B45;
$primary-md:  #d93833;
$primary-dk:  #ab1c24;

//SECONDARY PALETTE
$secondary-lt:  #69c4eb;
$secondary-md:  #29abe2;
$secondary-dk:  #0071bc;

//TERTIARY PALETTE
$tertiary-lt:  #666;
$tertiary-md:  #333;
$tertiary-dk:  #111;

//NEUTRAL PALETTE (light to dark)
$plain-lt:  #fff;
$plain-md:  #f2f2f2;
$plain-dk:  #e6e6e6;
$knockout-lt:  #999;
$knockout-md:  #666;
$knockout-dk:  #333;

// FONT COLORS
$txt-dk: #333;
$txt-lt: $plain-lt;

// LINK COLORS
$link-exlt:  #f0ad4e;
$link-lt:  #69c4eb;
$link-md:  #29abe2;
$link-dk:  #0071bc;

//////////////////////////////
//IMPLEMENTATION

// call to action brand orange
$cta:  $primary-lt;
$cta-highlight: #f0ad4e;
$cta-lowlight: #b5541e;
