//////////////////////////////
//PRIMARY PALETTE
$primary-lt:  #f26522;
$primary-md:  #d93833;
$primary-dk:  #ab1c24;

//SECONDARY PALETTE
$secondary-lt:  #69c4eb;
$secondary-md:  #29abe2;
$secondary-dk:  #0071bc;

//TERTIARY PALETTE
$tertiary-lt:  #88d392;
$tertiary-md:  #39b54a;
$tertiary-dk:  #009245;

//NEUTRAL PALETTE (light to dark)
$plain-lt:  #fff;
$plain-md:  #f2f2f2;
$plain-dk:  #e6e6e6;
$knockout-lt:  #999;
$knockout-md:  #666;
$knockout-dk:  #333;

// FONT COLORS
$txt-default:  #333;
$txt-inverted: #fff;
$txt-extradk:  #222;

// LINK COLORS
$link-exlt:  #f0ad4e;
$link-lt:  #69c4eb;
$link-md:  #29abe2;
$link-dk:  #0071bc;

//////////////////////////////
//IMPLEMENTATION
$cta:  $primary-lt;
$cta-highlight: #f0ad4e; //replaces $primary_button_highlight
$cta-lowlight: #b5541e; //replaces $primary_button_lowlight
