<script>/* this needs to be there because some broken script adds a google analytics reference before the first script tag, and the next one in the file needs to have nothing inserted before it! */</script>
<div class="champion-flow-survey" id="new-champion-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Braven Champion Survey</h1>

          <p class="lead">
            Oops, that survey wasn't found. It would be a huge help if you emailed <a href="mailto:support@bebraven.org">support@bebraven.org</a> and provided the link that you clicked to get here!
          </p>

        </div>
      </section>
    </div>
  </div>
</div>

