<div id="new-champion-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Registration complete</h1>

          <p class="lead">
          <p>Thank you for volunteering to be a Braven Champion! Braven Fellows may reach out to you requesting informational interviews. We just ask that you respond and work with them to set up a phone call or meeting. Thank you for supporting our future leaders! </p>

          <p>If you have any questions now or in the future, please reach out to Tess at <a href="mailto:tess@bebraven.org">tess@bebraven.org</a>.</p>
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
