<script>/* this needs to be there because some broken script adds a google analytics reference before the first script tag, and the next one in the file needs to have nothing inserted before it! */</script>
<div class="champion-flow-survey" id="new-champion-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Braven Champion Survey</h1>

          <p class="lead">
            Oops, that survey wasn't found. Are you sure you're logged into the correct account? Please use the email address that this link was sent in to login.
            <br /><br />
            If you think you've done everything right and are seeing this error, please reach out to <a href="mailto:support@bebraven.org">support@bebraven.org</a>! When you do, please provide the link that you clicked to get here and the username that you're logging in with. Thank you in advance!
          </p>

        </div>
      </section>
    </div>
  </div>
</div>

