<div id="new-champion-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Braven Network</h1>

          <p class="lead">
          </p>

          <p><a href="<%= new_champion_path %>">Register to become a member now</a></p>

        </div>
      </section>
    </div>
  </div>
</div>
