<script>/* this needs to be there because some broken script adds a google analytics reference before the first script tag, and the next one in the file needs to have nothing inserted before it! */</script>
<div id="new-champion-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Braven Champions</h1>

          <p class="lead">
            Thanks for your interest.
          </p>
        </div>
        <div class="col-sm-12">
          We have emailed the Champion asking them to connect with you. Watch your
          email for their contact.
        </div>
      </section>
    </div>
  </div>
</div>


