<div id="new-champion-page">
<div class="plank plain-lt">
  <div class="section-container">
    <section>
      <div class="col-sm-8">
      
<h1>Braven Champions</h1>

<h2>Terms of Use</h2>

<p>By agreeing to the Terms of Use, you agree to the following: </p>

<ul>
    <li>Communicate with professionals in the Braven Champions Database solely for the purpose of career acceleration. </li>
    <li>Email communication is for the sole purpose of scheduling informational interviews and following up after the meeting. </li>
    <li>Informational interviews are held either virtually (video call) or on the phone for the sole purpose of discussing career. </li>
    <li>Communicate result of your outreach with the Braven staff via a survey </li>
</ul>


      </div>
    </section>
  </div>
</div>
