.coaching-dashboard {
  .coaching-views {
    float: left;
    width: 14em;
    overflow: hidden;
  }

  .coaching-activity {
    margin-left: 15em;
    border-left: solid 1px $subtle_border;
    padding-left: 1em;
  }

  .task-name {
    font-weight: bold;
  }

  .comments-holder {
    width: 50%;
  }

  .approve-task {
    background-color: $bzgreen;
  }

  .request-task-revisions {
    background-color: $bzorange;
  }

  .comments-holder {
    padding-left: 1em;
    padding-top: 1em;
  }
}
