.coaching-dashboard {
  .coaching-views {
    float: left;
    width: 14em;
    overflow: hidden;
  }

  .coaching-activity {
    margin-left: 15em;
    border-left: solid 1px $knockout-lt;
    padding-left: 1em;
  }

  .task-name {
    font-weight: bold;
  }

  .comments-holder {
    width: 50%;
  }

  .approve-task {
    background-color: $tertiary-lt;
  }

  .request-task-revisions {
    background-color: $primary-lt;
  }

  .comments-holder {
    padding-left: 1em;
    padding-top: 1em;
  }
}
