@import '../base/style';

.comment {
  border-bottom: solid 2px $subtle_border;
  padding: 0px;
  margin: 0.25em;

  &.from-me {
    /* this is a comment that the logged-in user wrote */
  }

  &.from-other {
    /* this is a comment written by another user */
  }

  border: solid 1px $subtle_border;
  border-radius: 6px;

  .comment-by {
    font-size: 90%;
    border-bottom: solid 1px $subtle_border;
    padding: 0.25em;
  }

  .comment-speaker {
    font-weight: bold;
  }

  .comment-content {
    padding: 0.5em;
  }
}

.comment-form-holder {
  text-align: right;
  textarea {
    text-align: left;
    width: 100%;
  }
}
