.assignment-progress-bar {
  @extend .progress;
  height: 1.5em;
  width: 50%;
  margin: 1em;

  .completion-bar {
    @extend .progress-bar;
    @extend .progress-bar-success;
  }

  .in-progress-bar {
    @extend .progress-bar;
    @extend .progress-bar-info;
  }

  .pending-bar {
    @extend .progress-bar;
    @extend .progress-bar-warning;
  }
}

.task-pane {
	@extend .container-fluid;

  h4 {
    background-color: $bzgrey1;
    color: black;
    font-weight: bold;
    padding: 0.5em;
  }

  .action-box {
    padding-top: 2em;
  }

  .completion-status {
    text-align: center;
    font-size: 1.5em;

    div {
      @extend .alert;

      &.status-student-pending-approval, &.status-coach-pending-revision {
        @extend .alert-warning;
      }
      &.status-student-pending-revision, &.status-coach-pending-approval {
        @extend .alert-info;
      }
      &.status-complete {
        @extend .alert-success;
      }
    }
  }


  #task-update-student {
  
    .file-upload-progress {
      @extend .progress;
    }
  }

  #task-done {
    margin-top: 2em;
  }

  .task-navigation-buttons {
    margin-top: 4em;

    a {
      width: 10em;
    }

    .previous {
      @extend .btn;
      @extend .btn-warning;
    }

    .next {
      @extend .btn;
      @extend .btn-success;
    }
  }
}