<div class="program-header">
  <% if @user_logged_in %>
      <div class="student-login">
      <%= "Welcome back, #{@current_user.name}" %>
      <form action="/users/logout" method="POST">
  	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="submit" value="Log out" /></form>
      </div>
  <% else %>
      <div class="student-login">
  	<%= link_to "Log in", controller: "/users", action: "login" %>
	</div>
  <% end %>
  <a href="/"><%= image_tag "customLogo2.png", alt: "Beyond Z" %></a>
</div>

<a class="feedback-button" href="/feedback/new">Send Feedback</a>
