<div class="container-fluid">
  <div class="row-fluid">
    <div class="program-resources-container">
      <div class="row-fluid">
        <div class="program-resources">
          <%= link_to 'Assignment Portal', root_path, class: 'btn-resources', role: 'button' %>
          <a class="btn-resources" href="https://www.dropbox.com/s/t5pnynb84ufm3ji/SummerOpportunities.docx?dl=1" role="button">Summer Opportunities</a>
          <a class="btn-resources" href="https://www.dropbox.com/s/i6tsrrmtr3kfhon/OnlinePortalInstructions.pdf?dl=1" role="button">Submission Instructions</a>
        </div>
      </div>
    </div>
  </div>
</div>
