<div class="container-fluid">
  <section>
    <div class="program-resources-container">
      <section>
        <div class="program-resources">
          <%= link_to 'Home', root_path, class: 'btn-resources', role: 'button' %>
          <a class="btn-resources" href="https://docs.google.com/a/beyondz.org/spreadsheet/ccc?key=0AgtWPx30pMCQdFhyel9aZFdBZGRGMzB6a2VyaV9Zd0E" role="button">Summer Opportunities</a>
          <a class="btn-resources" href="https://www.dropbox.com/s/i6tsrrmtr3kfhon/OnlinePortalInstructions.pdf?dl=1" role="button">Submission Instructions</a>
        </div>
      </section>
    </div>
  </section>
</div>
