<div class="container-fluid">
  <section>
    <div class="program-resources-container">
      <section>
        <div class="program-resources">
          <%= link_to 'Home', root_path, class: 'btn-resources', role: 'button' %>
          <a class="btn-resources" href="https://www.dropbox.com/s/t5pnynb84ufm3ji/SummerOpportunities.docx?dl=1" role="button">Summer Opportunities</a>
          <a class="btn-resources" href="https://www.dropbox.com/s/i6tsrrmtr3kfhon/OnlinePortalInstructions.pdf?dl=1" role="button">Submission Instructions</a>
          <a class="btn-resources" href="/assignments/calendar" role="button">Events Calendar</a>
        </div>
      </section>
    </div>
  </section>
</div>
